// ---------------------------------------------------------------------------
// Imports

@import "susy";
@import "compass/reset";
@import "compass/typography";
@import "compass/css3";
@import "compass/css3/box-sizing";

// ---------------------------------------------------------------------------
// Basic Grid

$total-columns  : 12;
$column-width   : 80px;
$gutter-width   : 0px;
$grid-padding   : $gutter-width;

$show-grid-backgrounds: false;

// Colours
$nav-bg-colour: #4096EE;
$blue:          #4096EE;
$tile-title-bg: #A30305;
$h1-colour:     #333333;
$link-colour:   #0077ee;
$bg-colour:     #ffffff;
$panel-colour:  #3584D8;

$base-font-size: 12px;
