
.dashboard {
  padding: 5px;
  margin-top: 1em;

  .card {
    background-color: #fff;
    padding: 1em;
    @include border-radius(5px);
    @include box-shadow(0px 0px 2px #ccc); 
    border: 1px solid #aaa;
    margin-top: 1em;
  }

  ul#stats {
    @include span-columns(3, 12);
    li {
      @include adjust-font-size-to(18px);
      span {
        position: relative;
        display: inline-block;
        float: right;
      }
    }
  }

  .end {
    @include pie-clearfix;
  }
}
