
/// -- Form mixins 
$highlight-focus: #ff0000;

@mixin glow-inputs() {
  input, textarea, select {
    border:1px solid rgba(0,0,0, 0.2);
    outline:none;

    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    
    @include border-radius(3px);
    
    &:focus {
      @include box-shadow(0 0 2px rgba(0, 0, 255, 1)); 
      border:1px solid rgba(82, 168, 236, 0.6); 
    }
  }
}

@mixin large-inputs() {
  input, textarea {
    font-size: 1em;
    padding: 4px;
  }

  select {
    font-size: 1em;
    padding: 4px;
  }
}

/// -- Form styles

form {
  label {
    color: #828282;
    font-weight: bold;
  }
  input, textarea, select {
    color: #555555;
    font-family: inherit;
  }
  select {
    background-color: #ececec;
  }
  .field {
    margin-bottom: 1em;
    clear: both;
  }

  input.error {
    border: 1px solid #ff0000;
  }

  span.error {
    @include adjust-font-size-to(12px);
    color: red;
  }
}

form.inline {
  label {
    display: inline-block;
    width: 150px;
  }
  
  div.input {
    display: inline-block;
  }

  span.error {
    display: block;
  }
}

form.create {
  width: 80%;
  margin: 3em auto;
  
  @include border-radius(4px);
  @include box-shadow(0px 0px 5px #ccc);
  @include glow-inputs();
  @include large-inputs();

  .fields {
    padding: 1em;
    @include panel-body();
  }

  input {
    width: 366px;
  }

  .header {
    @include panel-header2();
  }
}

form.create.invoice {
  input.reference {
    width: auto;
  }
  select {
    width: 366px;
  }

  input.date {
    width: 200px;
  }

  div.field-due_date {
    display: none;
  }
}


form.create.company {
  select#country, div#s2id_country {
    width: 250px;
  }

  input#post_code {
    width: 100px;
  }

  div.photo {
    display: inline-block;
    width: 366px;
    border: 1px solid #ccc;
    padding: 1em;
  }

  input#photo-upload {
    width: 150px;
  }
}

form.create.client {
  select#country, div#s2id_country {
    width: 250px;
  }

  input#post_code {
    width: 100px;
  }
}
