
body, html {
  background-color: #e8ebef;
  font-size: $base-font-size;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #222;
}

* {
  @include box-sizing(border-box);
}

.header { 
  padding-top: 5px;
  margin: 0 5px 10px 5px;
}

.plain {
  .header {
    margin-top: 2em;
    text-align: center;
  }
}


