@mixin panel-header() {
  height: 2em;
  @include background-image(linear-gradient(center top, $panel-colour 5%, darken($panel-colour, 5%) 100%));
  @include border-radius(2px 2px 0 0);
  @include box-shadow(0 1px lighten($panel-colour, 10%) inset);
  border-bottom: 1px solid darken($panel-colour, 15%);
}

@mixin panel-header2() {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ECECED;
  @include background-image(linear-gradient(center top, #F7F8F8, #DBDBDC 100%));
  background-repeat: repeat-x;
  border-color: #AAAAAA;
  border-image: none;
  border-radius: 4px 4px 0 0;
  border-style: solid solid none;
  border-width: 1px 1px 0;
  margin: 0 auto;
  padding: 9px 10px;

  font-weight: bold;
  color: #666;

}

@mixin panel-body() {
  @include background-image(linear-gradient(center top, #ffffff, #F5F4F4 100%));
  border: 1px solid #AAAAAA;
  border-radius: 0 0 4px 4px;
  margin: 0 auto 12px;
}


