
a img {
  vertical-align: middle;
}

h1 {
  color: $h1-colour;
  @include adjust-font-size-to(28px);
  line-height: 1em;
  font-weight: 900;
}

.sidebar {
  h3 {
    @include text-shadow(0 1px #ffffff);
    @include adjust-font-size-to(12px);
    font-weight: bold;
    color: #758594;
    text-transform: uppercase;
    margin: 20px 0 2px 12px;
  }
  ul.menu li {
    display: block;
    margin: 0px 0 2px 12px;
    a {
      display: block;
      text-decoration: none;
      color: #515765;
      padding: 5px 12px;
    }
  }
}

.filters { 
  @include pie-clearfix;
  @include background-image(linear-gradient(center top, #efefef 5%, darken(#ffffff, 15%) 100%));
  border-bottom: 1px solid #AAAAAA;
  
  padding: 8px;
  background-color: #efefef;

  a {
    text-decoration: none;
    color: #555555;
    line-height: 16px;
    padding: 4px 10px;
    @include border-radius(20px);

    img { 
      vertical-align: middle;
      margin-bottom: 3px;
    }
  }
  
  a:hover {
    background-color: #ccc;
  }

  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
}

.subnav {
  background-color: #efefef; 

  ul li {
    display: inline-block;
    padding: 8px;
    a {
      text-decoration: none; 
      color: #777777;
      text-shadow: 0 1px 0 #fff;
    }
  }
  
  ul {
    border-bottom: 1px solid #ccc;
  }

  ul li.active {
    font-weight: bold;
  }
}

.first-create {
  margin: 50px auto;
  display: block;
  text-align: center;
}


/// -- Data lists --- 

.data-list-wrapper {
  margin: 10px;

  .col { 
    display: table-cell; 
    text-align: left;
  }
}

.data-list-header {
  @include panel-header2();
  font-size: 12px;
}

.data-list {
  @include box-sizing(border-box);

  border: 1px solid #aaaaaa;
  
  .row {
    background-color: #fff;
    border-bottom: 1px solid #ececec;
    padding: 8px;
    font-size: 12px;
    cursor: pointer;
  }

  .row:hover {
    background-color: #ececec;
  }

  .row:last-child {
    border-bottom: none;
  }
}

.label {
  border-radius: 3px 3px 3px 3px;
}

.label {
  background-color: #999999;
  color: #FFFFFF;
  display: inline-block;
  font-weight: bold;
  padding: 2px 4px;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  vertical-align: baseline;
  white-space: nowrap;
}

.label-count {
  background-color: #ccc;
  color: #fff;
}

.label-success, .label-paid {
  background-color: #468847;
}

.label-important, .label-overdue {
  background-color: #B94A48;
}

.label-info, .label-sent {
  background-color: #3A87AD;
}
