{% from "macros/_misc.html" import render_input, render_action %}
{% extends 'layout.html' %}

{% block content %}
  {% include 'account/_filter.html' %}

  <div class="workspace-inner">
    <form class="create inline company" method="post" action="{{ url_for('.business') }}">
      <div class="header">Your business information</div>  
      <div class="fields">

        <div class="field">
          <label>&nbsp;</label>

          <div class="photo">
            {% if company.logo %}
              <img src="{{ url_for('file.download', location=company.logo.thumbnail.get_web_url()) }}">
            {% endif %}
            <input type="button" id="photo-upload" value="Upload company logo" />
          </div>
        </div>

        {{ render_input(form.name) }} 
        {{ render_input(form.address1) }} 
        {{ render_input(form.address2) }}
        {{ render_input(form.town) }}
        {{ render_input(form.city) }}
        {{ render_input(form.county) }}
        {{ render_input(form.country) }}
        {{ render_input(form.post_code) }}
        <div class="field">
          <button class="button normal" type="submit">Save</button>
        </div>
      </div>
    </form>

  </div>


  <script type="text/javascript">
    var uploader = document.getElementById('photo-upload');
    upclick({
      element: uploader,
      action: '{{ url_for('file.photo_upload') }}', 
      onstart: function(filename){
      },
      oncomplete: function(resp){
        $('.photo img').remove();
        $(resp).prependTo('.photo');
      }
    });
  </script>

{% endblock %}
