{% from "macros/_misc.html" import render_input, render_action %}
{% extends 'layout.html' %}

{% block content %}
  {% include 'account/_filter.html' %}

  <h1>Business information</h1>

  <div class="workspace-inner">
    <form role="form" class="form-horizontal company" method="post" action="{{ url_for('.business') }}">

        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10 photo">
            {% if company.logo %}
              <img src="{{ url_for('file.download', location=company.logo.thumbnail.get_web_url()) }}">
            {% endif %}
            <input class="btn btn-primary" type="button" id="photo-upload" value="Upload company logo" />
          </div>
        </div>

        {{ render_input(form.name) }} 
        {{ render_input(form.address1) }} 
        {{ render_input(form.address2) }}
        {{ render_input(form.town) }}
        {{ render_input(form.city) }}
        {{ render_input(form.county) }}
        {{ render_input(form.country, class='') }}
        {{ render_input(form.post_code) }}
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <button class="btn btn-primary" type="submit">Save</button>
          </div>
        </div>
    </form>

  </div>


  <script type="text/javascript">
    var uploader = document.getElementById('photo-upload');
    upclick({
      element: uploader,
      action: '{{ url_for('file.photo_upload') }}', 
      onstart: function(filename){
      },
      oncomplete: function(resp){
        $('.photo img').remove();
        $(resp).prependTo('.photo');
      }
    });
  </script>

{% endblock %}
