{% from "macros/_misc.html" import render_input %}

{% set page_title = _('Log in') %}

{% extends "plain.html" %}

{% block content %}
  <div>
    <form role="form" class="form-signin"  method="post" action="{{ url_for('account.login') }}">
      <h2 class="form-signin-heading">Please sign in</h2>
      {{ form.hidden_tag() }}
      {{ form.next }}
      {{ form.login(class='form-control') }}
      {{ form.password(class='form-control') }}
      <label class="checkbox">
        {{ form.remember }} Remember me
      </label>
      <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
      <p class="noaccount">No account? <a href="{{ url_for('account.signup') }}">Sign up</a>.</p>
    </form>
  </div>
{% endblock %}
