{% from "macros/_misc.html" import render_input %}

{% set page_title = _('Log in') %}

{% extends "plain.html" %}

{% block content %}
  <div class="login box">
    <form  method="post" action="{{ url_for('account.login') }}">
      {{ form.hidden_tag() }}
      {{ form.next }}
      {{ render_input(form.login, 'xlarge', placeholder='Email') }}
      {{ render_input(form.password, 'xlarge', placeholder='Password') }}
      
      <div class="field">
        <label class="remember">{{ form.remember }} Remember me?</label>
      </div>
      
      <div class="field">
        <button class="button primary" type="submit">Login</button> 
      </div>

    </form>
  </div>
  
  <div class="box">
    <p class="noaccount">No account? <a href="{{ url_for('account.signup') }}">Sign up</a>.</p>
  </div>
{% endblock %}
