{% from "macros/_misc.html" import render_input %}

{% set page_title = _('Sign up') %}

{% extends 'public.html' %}

{% block content %}

  <h1>Create your account</h1>

  <div class="workspace-inner">

    {% if form.errors %}
      <div class="signup-errors">
        <p>Please correct the following errors to create a new account:</p>
        <ul>
          {% for key in form.errors %}
            <li>{{ form.errors[key][0] }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}

    <form role="form" method="post" action="">
      {{ form.hidden_tag() }}
      {{ form.next }}

      <h4>Business</h4>
      <div class="form-group {% print 'error' if form.username.errors else '' %}">
        <div class="controls row">
          <div class="col-sm-2">
            {{ form.username(class='form-control', placeholder='ID') }} 
          </div>
          <div class="help-inline col-sm-2">.nanoinvoice.com</div>
        </div>
      </div>

      <div class="form-group row {% print 'error' if form.business_name.errors else '' %}">
        <div class="col-sm-2">
          {{ form.business_name(class='form-control', placeholder='Business name') }}
        </div>
        <div class="col-sm-2">
          {{ form.business_type(class='') }}
        </div>
      </div>

      <div class="form-group {% print 'error' if form.country_id.errors else '' %}">
        {{ form.country_id(class='') }}
      </div>

      <h4>Personal details</h4>
      <div class="form-group row {% print 'error' if form.first_name.errors or form.last_name.errors else '' %}">
        <div class="col-sm-2">
         {{ form.first_name(class='form-control', placeholder='First name') }}
       </div>
       <div class="col-sm-2">
         {{ form.last_name(class='form-control', placeholder='Last name') }}
       </div>
      </div>

      <div class="form-group row {% print 'error' if form.email_address.errors else '' %}">
        <div class="col-sm-4">
          {{ form.email_address(class='form-control', placeholder='Email address') }}
        </div>
      </div>

      <div class="form-group row {% print 'error' if form.password.errors or form.password_again.errors else '' %}">
        <div class="col-sm-2">
          {{ form.password(class='form-control', placeholder='Password') }}
        </div>
        <div class="col-sm-2">
          {{ form.password_again(class='form-control', placeholder='Confirm password') }}
        </div>
      </div>

      <h4>Plan</h4>

      <div class="form-group {% print 'error' if form.plan_id.errors else '' %}">
          {{ form.plan_id(class='') }}
      </div>

      <div class="controls">
        <p>By clicking <b>Create account</b>, I agree to the <a href="">privacy policy</a> and <a href="">terms of service</a></p>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-primary">Create account</button>
      </div>

    </form>
  </div>




{% endblock %}

