{% from "macros/_misc.html" import render_input %}

{% set page_title = _('Sign up') %}

{% extends 'public.html' %}

{% block content %}

  <div class="workspace-inner">

    <h1>Create new account</h1>

    <form method="post" action="">
       {{ form.hidden_tag() }}
       {{ form.next }}
      
      {{ render_input(form.name, 'xlarge') }}
      {{ render_input(form.email, 'xlarge') }}
      {{ render_input(form.password, 'xlarge') }}
      {{ render_input(form.password_again, 'xlarge') }}
      
      <div class="form-actions">
        <button type="submit" class="btn btn-primary">Signup</button>
      </div>

    </form>
  </div>




{% endblock %}

