{% from "macros/_misc.html" import render_input, render_errors %}
{% extends 'layout.html' %}

{% block content %}

  {% include 'account/_filter.html' %}
  {% include 'settings/_subnav.html' %}
  
  <div class="workspace-inner">
    
    <form class="create inline custom-field" method="post" action="{{ url_for('.custom_fields') }}">
      <div class="header">Custom fields</div>  
      <div class="fields">


        {% for form_field in form.current_fields.entries %}
          <div class="field">
            <label></label>
            <div class="input">
              {{ form_field.uid }}
              {{ form_field.field_name }}
              {{ form_field.field_value }}
            </div>
            <a class='delete' href="{{ url_for('settings.delete_custom_field', id=form_field.uid.data) }}"> Delete</a>
          </div>
        {% endfor %}
        
        <div class="field vspacer">

        </div>
        
        <div class="field"> 
          <label>New custom field</label>
          <div class="input">
            <div class='input vtop'>
              {{ form.new_field.field_name(placeholder='Field name, e.g. VAT') }}
              {{ render_errors(form.new_field.field_name) }}
            </div>
            <div class='input vtop'>
              {{ form.new_field.field_value(placeholder='Value') }}
              {{ render_errors(form.new_field.field_value) }} 
            </div>
          </div>
        </div>
       <div class="field">
          <button class="button normal" type="submit">Save</button>
        </div>
      </div>
    </form>

  </div>

{% endblock %}

