{% from "macros/_misc.html" import render_input %}
{% extends 'layout.html' %}

{% block content %}

  {% include 'account/_filter.html' %}
  {% include 'settings/_subnav.html' %}
  
  <div class="workspace-inner">
    
    <form class="create inline custom-field" method="post" action="{{ url_for('.custom_fields') }}">
      <div class="header">Custom fields</div>  
      <div class="fields">
        
        {% if fields|length > 0 %}
          {% for custom_field in fields %}
          <div class="field">
            <label></label>
            <div class="input">
              <input name="custom_field[{{custom_field.id}}]" type="text" value="{{ custom_field.name }}">
              <input name="custom_field[{{custom_field.id}}]" type="text" value="{{ custom_field.value }}">
            </div>
          </div>
          {% endfor %}
        {% endif %}
        
        <div class="field vspacer">

        </div>
        
        <div class="field"> 
          <label>Custom Field</label>
          <div class="input">
            {{ form.field_name(placeholder='Field name, e.g. VAT') }}
            {{ form.field_value(placeholder='Value') }}
          </div>
        </div>

       <div class="field">
          <button class="button normal" type="submit">Save</button>
        </div>
      </div>
    </form>

  </div>

{% endblock %}

