/* line 17, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 1, ../sass/_export.scss */
body, html {
  background-color: #fff;
  font-size: 12px;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #333;
}

/* line 8, ../sass/_export.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 12, ../sass/_export.scss */
a img {
  vertical-align: middle;
}

/* line 16, ../sass/_export.scss */
h1 {
  color: #ee3322;
  font-size: 2.333em;
  line-height: 1.714em;
  line-height: 1em;
  font-weight: 900;
}

/* line 4, ../sass/_invoice.scss */
#invoice-header .logo.screen {
  height: 75px;
}

/* line 10, ../sass/_invoice.scss */
.invoice-data-list .col {
  width: 160px;
}

/* line 16, ../sass/_invoice.scss */
.pagestyle {
  border-top: 1px solid #CCC;
  border-left: solid 1px #CCC;
  border-bottom: solid 2px #888;
  border-right: solid 2px #888;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  width: 730px;
}

/* line 28, ../sass/_invoice.scss */
.draft .pagestyle {
  padding-right: 1.75cm !important;
}

/* line 32, ../sass/_invoice.scss */
.pagestyle:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 41, ../sass/_invoice.scss */
html[xmlns] .pagestyle {
  display: block;
}

/* line 45, ../sass/_invoice.scss */
.pagestyle img {
  border: none;
}

/* line 49, ../sass/_invoice.scss */
#invoice {
  display: block;
  margin: 2em auto;
}
/* line 53, ../sass/_invoice.scss */
#invoice .item-controls {
  position: absolute;
  right: 10px;
  width: 58px;
}

/* line 1, ../sass/invoice_themes/_default.scss */
#invoice h1 {
  margin: 0;
  color: #555;
  font-size: 24px;
  text-transform: uppercase;
}

/* line 2, ../sass/invoice_themes/_default.scss */
#invoice h2, #Main #invoice h3 {
  color: #000;
  text-transform: none;
}

/* line 3, ../sass/invoice_themes/_default.scss */
#invoice h2 {
  margin: 10px 0;
  font-size: 14pt;
}

/* line 4, ../sass/invoice_themes/_default.scss */
#invoice-amount td, th {
  font-size: 10pt;
}

/* line 5, ../sass/invoice_themes/_default.scss */
#invoice-header #company-address {
  text-align: right;
  font-size: 11pt;
  line-height: 14pt;
}

/* line 6, ../sass/invoice_themes/_default.scss */
#invoice #client-details, #invoice-info p {
  font-size: 10pt;
  line-height: 14pt;
}

/* line 7, ../sass/invoice_themes/_default.scss */
#invoice #invoice-other, #invoice #payment-details {
  font-size: 10pt;
  line-height: 14pt;
}

/* line 8, ../sass/invoice_themes/_default.scss */
#invoice-info h2, #invoice-info h3 {
  margin: 0;
  font-weight: normal;
}

/* line 9, ../sass/invoice_themes/_default.scss */
#invoice #invoice-info h2 {
  text-transform: uppercase;
  font-size: 18pt;
}

/* line 10, ../sass/invoice_themes/_default.scss */
#invoice #invoice-info h3 {
  font-size: 12pt;
}

/* line 11, ../sass/invoice_themes/_default.scss */
#invoice #invoice-info p {
  text-align: right;
  margin-top: 0;
}

/* line 12, ../sass/invoice_themes/_default.scss */
#invoice-info #payment-total {
  display: none;
}

/* line 13, ../sass/invoice_themes/_default.scss */
#comments {
  font-weight: bold;
  margin-top: 0;
  font-size: 10pt;
}

/* line 14, ../sass/invoice_themes/_default.scss */
#invoice #invoice-info h2, #invoice #company-address div.email, #invoice #invoice-other h2, #invoice #payment-details h2 {
  color: #a10000;
}

/* line 15, ../sass/invoice_themes/_default.scss */
#invoice #invoice-other h2, #invoice #payment-details h2 {
  font-weight: normal;
  text-transform: uppercase;
}

/*=========================== LAYOUT =========================*/
/* line 19, ../sass/invoice_themes/_default.scss */
#invoice {
  padding: 0 1cm 1cm 1cm;
  background: #fff top left repeat-y;
  border: 1px solid #ccc;
}

/* line 20, ../sass/invoice_themes/_default.scss */
#invoice-header .logo {
  float: left;
}

/* line 21, ../sass/invoice_themes/_default.scss */
#invoice-header {
  margin-top: 1.5cm;
  border-bottom: 1px solid #a10000;
  padding-bottom: 10px;
  overflow: hidden;
}

/* line 22, ../sass/invoice_themes/_default.scss */
* html #invoice-header {
  height: 1%;
}

/* line 23, ../sass/invoice_themes/_default.scss */
#invoice-blank-header {
  margin-top: 1.6cm;
}

/* line 24, ../sass/invoice_themes/_default.scss */
#invoice-info {
  margin: 0.7cm 0 20px 0;
  width: 55%;
  float: right;
  text-align: right;
}

/* line 25, ../sass/invoice_themes/_default.scss */
#invoice-info #payment-terms {
  display: none;
}

/* line 26, ../sass/invoice_themes/_default.scss */
#invoice-info #payment-due {
  font-style: italic;
}

/* line 27, ../sass/invoice_themes/_default.scss */
#company-address {
  margin: 0;
  padding: 0;
  width: 300px;
  float: right;
}

/* line 28, ../sass/invoice_themes/_default.scss */
#client-details {
  margin: 0.7cm 0 20px 0cm;
  float: left;
  width: 35%;
}

/* Positioned to appear in a standard envelope window when printed */
/* line 29, ../sass/invoice_themes/_default.scss */
#invoice-other {
  text-align: right;
  clear: both;
  float: right;
  width: 50%;
  margin-top: 0;
}

/* line 30, ../sass/invoice_themes/_default.scss */
#invoice #payment-details {
  float: left;
  width: 45%;
  margin-top: 0;
}

/* line 31, ../sass/invoice_themes/_default.scss */
#payment-details .sort-code, #payment-details .account-number, #payment-details .payment-reference {
  clear: left;
}

/* line 32, ../sass/invoice_themes/_default.scss */
#payment-details strong {
  font-weight: normal;
  float: left;
  width: 12em;
}

/* line 33, ../sass/invoice_themes/_default.scss */
#invoice-other strong {
  font-weight: normal;
  float: left;
  width: 16em;
}

/* line 34, ../sass/invoice_themes/_default.scss */
#invoice-other #comments {
  clear: both;
  margin-top: 0em;
  font-weight: normal;
  color: #a10000;
}

/* line 35, ../sass/invoice_themes/_default.scss */
#invoice-other #contract-number {
  margin-bottom: 3em;
}

/* line 37, ../sass/invoice_themes/_default.scss */
#comments {
  clear: both;
  padding-top: 0.3cm;
}

/*=========================== TABLES =========================*/
/* line 41, ../sass/invoice_themes/_default.scss */
#invoice table#invoice-amount {
  border-collapse: collapse;
  width: 100%;
  clear: both;
  margin: 1cm 0 0.4cm 0;
}

/* line 42, ../sass/invoice_themes/_default.scss */
#invoice-amount th {
  text-align: left;
  white-space: nowrap;
  padding: 3px 5px 3px 5px;
  font-weight: normal;
  background: #F2F2F2;
}

/* line 43, ../sass/invoice_themes/_default.scss */
#invoice-amount td {
  margin: 0;
  padding: 4px 5px 4px 5px;
  vertical-align: top;
}

/* line 44, ../sass/invoice_themes/_default.scss */
#invoice-amount tr.item td {
  background: #fff;
}

/* line 45, ../sass/invoice_themes/_default.scss */
#invoice-amount td.item_r {
  text-align: right;
}

/* line 46, ../sass/invoice_themes/_default.scss */
#invoice-amount td.item_l {
  text-align: left;
  white-space: normal;
}

/* line 47, ../sass/invoice_themes/_default.scss */
#invoice-amount td.total {
  text-align: right;
  font-weight: bold;
  /*color: #a10000;*/
}

/* line 48, ../sass/invoice_themes/_default.scss */
#invoice-amount td.action {
  background: #FFF;
  width: 7%;
  padding-right: 0;
  white-space: nowrap;
  text-align: center;
}

/* line 49, ../sass/invoice_themes/_default.scss */
#invoice-amount tr#total_tr {
  background: #F2F2F2;
}

/* line 50, ../sass/invoice_themes/_default.scss */
#invoice-amount td {
  border-top: 1px solid #F2F2F2;
}

/* line 51, ../sass/invoice_themes/_default.scss */
#invoice-amount tr#discount_tr, #invoice-amount tr#net_total_tr, #invoice-amount tr#vat_tr {
  color: #777;
}

/* line 53, ../sass/invoice_themes/_default.scss */
#invoice-amount .details_th {
  width: 46%;
}

/* line 54, ../sass/invoice_themes/_default.scss */
#invoice-amount .details_notax_th {
  width: 54%;
}

/* line 55, ../sass/invoice_themes/_default.scss */
#invoice-amount .quantity_th {
  width: 13%;
}

/* line 56, ../sass/invoice_themes/_default.scss */
#invoice-amount .subtotal_th {
  width: 18%;
  text-align: right;
}

/* line 57, ../sass/invoice_themes/_default.scss */
#invoice-amount .unitprice_th {
  width: 15%;
  text-align: right;
}

/* line 58, ../sass/invoice_themes/_default.scss */
#invoice-amount .salestax_th {
  width: 8%;
  text-align: center;
}

/* Invoice UK VAT Summary Table */
/* line 61, ../sass/invoice_themes/_default.scss */
#invoice #invoice-uk-vat-summary {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0 0 0;
  clear: both;
  border: 0;
  background: #fff;
}

/* line 62, ../sass/invoice_themes/_default.scss */
#invoice tr#invoice-uk-vat-header th {
  padding: 7px 0;
  border-top: 1px solid #ccc;
}

/* line 63, ../sass/invoice_themes/_default.scss */
#invoice-uk-vat-summary td, #invoice #invoice-uk-vat-summary th {
  text-align: left;
  font-size: 9pt;
  padding: 2px 0;
}

/* line 64, ../sass/invoice_themes/_default.scss */
#vat-total td, #vat-total th {
  border-top: 1px solid #ccc;
}

@page {
  margin: 0;
}

/* line 5, ../sass/_invoice_print.scss */
#invoice {
  background-image: none;
  background-color: transparent;
  padding-bottom: 0;
  border: 0;
}

/* line 12, ../sass/_invoice_print.scss */
#Main {
  text-align: left;
  background-color: transparent;
  border-top: none;
}

/* line 18, ../sass/_invoice_print.scss */
table#invoice-amount td, table#invoice-amount th, div {
  border-width: 0.05mm !important;
}

/* line 22, ../sass/_invoice_print.scss */
#meta {
  display: none;
}

/* line 26, ../sass/_invoice_print.scss */
#invoice-header .logo.print {
  height: 75px;
}
