/* line 17, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 33, ../sass/_shared.scss */
h1 {
  color: #ee3322;
  font-size: 2em;
  line-height: 1.714em;
  line-height: 1em;
  font-weight: 900;
}

/* line 42, ../sass/_shared.scss */
.sidebar h3 {
  text-shadow: 0 1px white;
  font-size: 0.857em;
  line-height: 2em;
  font-weight: bold;
  color: #758594;
  text-transform: uppercase;
  margin: 20px 0 2px 12px;
}
/* line 50, ../sass/_shared.scss */
.sidebar ul.menu li {
  display: block;
  margin: 0px 0 2px 12px;
}
/* line 53, ../sass/_shared.scss */
.sidebar ul.menu li a {
  display: block;
  text-decoration: none;
  color: #515765;
  padding: 5px 12px;
}

/* line 62, ../sass/_shared.scss */
.filters {
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #efefef), color-stop(100%, #d9d9d9));
  background-image: -webkit-linear-gradient(center top, #efefef 5%, #d9d9d9 100%);
  background-image: -moz-linear-gradient(center top, #efefef 5%, #d9d9d9 100%);
  background-image: -o-linear-gradient(center top, #efefef 5%, #d9d9d9 100%);
  background-image: -ms-linear-gradient(center top, #efefef 5%, #d9d9d9 100%);
  background-image: linear-gradient(center top, #efefef 5%, #d9d9d9 100%);
  border-bottom: 1px solid #AAAAAA;
  padding: 8px;
  background-color: #efefef;
}
/* line 38, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.filters:after {
  content: "";
  display: table;
  clear: both;
}
/* line 70, ../sass/_shared.scss */
.filters a {
  text-decoration: none;
  color: #555555;
  line-height: 16px;
  padding: 4px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 77, ../sass/_shared.scss */
.filters a img {
  vertical-align: middle;
  margin-bottom: 3px;
}
/* line 83, ../sass/_shared.scss */
.filters a:hover {
  background-color: #ccc;
}
/* line 87, ../sass/_shared.scss */
.filters .left {
  float: left;
}
/* line 91, ../sass/_shared.scss */
.filters .right {
  float: right;
}

/* line 96, ../sass/_shared.scss */
.first-create {
  margin: 50px auto;
  display: block;
  text-align: center;
}

/* line 102, ../sass/_shared.scss */
.data-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  margin: 10px;
  border: 1px solid #aaaaaa;
}
/* line 109, ../sass/_shared.scss */
.data-list .row {
  background-color: #fff;
  border-bottom: 1px solid #aaaaaa;
  padding: 5px;
}
/* line 115, ../sass/_shared.scss */
.data-list .row:hover {
  background-color: #ececec;
}
/* line 119, ../sass/_shared.scss */
.data-list .row:last-child {
  border-bottom: none;
}

/* line 2, ../sass/_layout.scss */
body, html {
  background-color: white;
  font-size: 14px;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #333;
  background-image: url("/static/img/bg.png");
}

/* line 10, ../sass/_layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/_layout.scss */
.plain .header {
  margin-top: 2em;
  text-align: center;
}

/* line 21, ../sass/_layout.scss */
.header {
  background-color: auto;
  padding: 5px 0 10px 0;
}
/* line 25, ../sass/_layout.scss */
.header .account {
  float: right;
  padding-top: 20px;
}
/* line 28, ../sass/_layout.scss */
.header .account ul li {
  display: inline-block;
  margin-left: 4px;
}
/* line 33, ../sass/_layout.scss */
.header .account a {
  text-decoration: none;
  color: #666;
}

/* line 40, ../sass/_layout.scss */
.application {
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 4px #888888;
  -moz-box-shadow: 0px 0px 4px #888888;
  box-shadow: 0px 0px 4px #888888;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #888;
}
/* line 47, ../sass/_layout.scss */
.application .top {
  height: 2em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #3584d8), color-stop(100%, #2777cc));
  background-image: -webkit-linear-gradient(center top, #3584d8 5%, #2777cc 100%);
  background-image: -moz-linear-gradient(center top, #3584d8 5%, #2777cc 100%);
  background-image: -o-linear-gradient(center top, #3584d8 5%, #2777cc 100%);
  background-image: -ms-linear-gradient(center top, #3584d8 5%, #2777cc 100%);
  background-image: linear-gradient(center top, #3584d8 5%, #2777cc 100%);
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  -webkit-box-shadow: 0 1px #609ee0 inset;
  -moz-box-shadow: 0 1px #609ee0 inset;
  box-shadow: 0 1px #609ee0 inset;
  border-bottom: 1px solid #1f5ea1;
}

/* line 55, ../sass/_layout.scss */
.content {
  clear: both;
  *zoom: 1;
}
/* line 38, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 59, ../sass/_layout.scss */
.content .sidebar {
  width: 25%;
  float: left;
  margin-right: 0%;
  display: inline;
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  -ms-border-radius: 0 0 0 4px;
  -o-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  background-color: #E9F2F9;
  padding-bottom: 2em;
  border-right: 1px solid #c1daee;
  min-height: 550px;
}
/* line 68, ../sass/_layout.scss */
.content .workspace {
  width: 75%;
  float: right;
  margin-right: 0;
  #margin-left: 0px;
  display: inline;
}
/* line 72, ../sass/_layout.scss */
.content .workspace-inner {
  padding: 1em;
}

/* line 2, ../sass/_login.scss */
.box {
  width: 330px;
  margin: 0 auto;
}

/* line 7, ../sass/_login.scss */
.login {
  background-color: #fff;
  margin-top: 2em;
  -webkit-box-shadow: 1px 1px 5px #cccccc;
  -moz-box-shadow: 1px 1px 5px #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 14, ../sass/_login.scss */
.login form {
  padding: 14px;
}
/* line 17, ../sass/_login.scss */
.login form label {
  display: none;
}
/* line 21, ../sass/_login.scss */
.login form label.remember {
  display: block;
}
/* line 23, ../sass/_login.scss */
.login form label.remember input {
  display: inline;
  width: auto;
}
/* line 29, ../sass/_login.scss */
.login form input {
  font-size: 18px;
  padding: 10px 12px;
  width: 100%;
}
/* line 35, ../sass/_login.scss */
.login form .field {
  margin-bottom: 1em;
}
/* line 39, ../sass/_login.scss */
.login form .button {
  width: 100%;
}

/* line 45, ../sass/_login.scss */
.noaccount {
  margin-top: 1em;
  text-align: center;
}

/* line 3, ../sass/_buttons.scss */
.button.primary {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
  background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color: #79bbff;
  border: 1px solid #84bbf3;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #528ecc;
}
/* line 23, ../sass/_buttons.scss */
.button.primary:active {
  position: relative;
  top: 1px;
}
/* line 28, ../sass/_buttons.scss */
.button.normal {
  -moz-user-select: none;
  background-color: #F1F4F9;
  background-image: -moz-linear-gradient(center top, #f7faff, #e8ebf0);
  background-repeat: repeat-x;
  border: 1px solid #B1BCCA;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 1px white inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #737C93;
  cursor: pointer;
  display: inline-block;
  font-family: proxima-nova,sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 16px;
  vertical-align: top;
}
/* line 46, ../sass/_buttons.scss */
.button.normal:active {
  outline: none;
  background-color: #E2E5EC;
  background-image: -moz-linear-gradient(center top, #dde0e7, #e9ecf3);
  background-repeat: repeat-x;
  border-color: #CCD0DA;
  box-shadow: 0 1px 3px rgba(96, 101, 124, 0.1) inset, 0 1px 0 white;
  color: #5C627F;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

/* line 33, ../sass/_forms.scss */
form label {
  color: #828282;
  font-weight: bold;
}
/* line 37, ../sass/_forms.scss */
form input {
  color: #555555;
}
/* line 41, ../sass/_forms.scss */
form .field {
  margin-bottom: 1em;
  clear: both;
}
/* line 46, ../sass/_forms.scss */
form input.error {
  border: 1px solid red;
}
/* line 50, ../sass/_forms.scss */
form span.error {
  font-size: 0.857em;
  line-height: 2em;
  color: red;
}

/* line 57, ../sass/_forms.scss */
form.inline label {
  display: inline-block;
  width: 150px;
}
/* line 61, ../sass/_forms.scss */
form.inline div.input {
  display: inline-block;
}

/* line 66, ../sass/_forms.scss */
form.create {
  width: 80%;
  margin: 3em auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
  -moz-box-shadow: 0px 0px 5px #cccccc;
  box-shadow: 0px 0px 5px #cccccc;
}
/* line 6, ../sass/_forms.scss */
form.create input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 16, ../sass/_forms.scss */
form.create input:focus {
  -webkit-box-shadow: 0 0 2px blue;
  -moz-box-shadow: 0 0 2px blue;
  box-shadow: 0 0 2px blue;
  border: 1px solid rgba(82, 168, 236, 0.6);
}
/* line 24, ../sass/_forms.scss */
form.create input {
  font-size: 1.3em;
  padding: 4px;
}
/* line 75, ../sass/_forms.scss */
form.create .fields {
  padding: 1em;
  background: -moz-linear-gradient(center top, white, #f5f4f4) repeat-x scroll 0 0 #fbfbfb;
  border: 1px solid #AAAAAA;
  border-radius: 0 0 4px 4px;
  margin: 0 auto 12px;
}
/* line 80, ../sass/_forms.scss */
form.create input {
  width: 366px;
}
/* line 84, ../sass/_forms.scss */
form.create .header {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ECECED;
  background-image: -moz-linear-gradient(center top, #f7f8f8, #dbdbdc);
  background-repeat: repeat-x;
  border-color: #AAAAAA #AAAAAA -moz-use-text-color;
  border-image: none;
  border-radius: 4px 4px 0 0;
  border-style: solid solid none;
  border-width: 1px 1px 0;
  margin: 0 auto;
  padding: 9px 10px;
}

/* line 1, ../sass/_flash.scss */
ul.flashes {
  display: block;
  padding: 4px;
  margin-top: 4px;
  background-color: #fff;
}

/* line 17, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 960px;
  _width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
