/* line 17, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* -------------------------------------------------------------------------*/
/* Layout */
/* line 2, ../sass/_shared.scss */
a img {
  vertical-align: middle;
}

/* line 6, ../sass/_shared.scss */
h1 {
  color: #ee3322;
  font-size: 2.333em;
  line-height: 1.714em;
  line-height: 1em;
  font-weight: 900;
}

/* line 14, ../sass/_shared.scss */
.sidebar h3 {
  text-shadow: 0 1px white;
  font-size: 1em;
  line-height: 2em;
  font-weight: bold;
  color: #758594;
  text-transform: uppercase;
  margin: 20px 0 2px 12px;
}
/* line 22, ../sass/_shared.scss */
.sidebar ul.menu li {
  display: block;
  margin: 0px 0 2px 12px;
}
/* line 25, ../sass/_shared.scss */
.sidebar ul.menu li a {
  display: block;
  text-decoration: none;
  color: #515765;
  padding: 5px 12px;
}

/* line 34, ../sass/_shared.scss */
.filters {
  *zoom: 1;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #efefef), color-stop(100%, #d9d9d9));
  background-image: -webkit-linear-gradient(center top, #efefef 5%, #d9d9d9 100%);
  background-image: -moz-linear-gradient(center top, #efefef 5%, #d9d9d9 100%);
  background-image: -o-linear-gradient(center top, #efefef 5%, #d9d9d9 100%);
  background-image: -ms-linear-gradient(center top, #efefef 5%, #d9d9d9 100%);
  background-image: linear-gradient(center top, #efefef 5%, #d9d9d9 100%);
  border-bottom: 1px solid #AAAAAA;
  padding: 8px;
  background-color: #efefef;
}
/* line 38, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.filters:after {
  content: "";
  display: table;
  clear: both;
}
/* line 42, ../sass/_shared.scss */
.filters a {
  text-decoration: none;
  color: #555555;
  line-height: 16px;
  padding: 4px 10px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border-radius: 20px;
}
/* line 49, ../sass/_shared.scss */
.filters a img {
  vertical-align: middle;
  margin-bottom: 3px;
}
/* line 55, ../sass/_shared.scss */
.filters a:hover {
  background-color: #ccc;
}
/* line 59, ../sass/_shared.scss */
.filters .left {
  float: left;
}
/* line 63, ../sass/_shared.scss */
.filters .right {
  float: right;
}

/* line 68, ../sass/_shared.scss */
.first-create {
  margin: 50px auto;
  display: block;
  text-align: center;
}

/* line 77, ../sass/_shared.scss */
.data-list-wrapper {
  margin: 10px;
}
/* line 80, ../sass/_shared.scss */
.data-list-wrapper .col {
  display: table-cell;
  text-align: left;
}

/* line 86, ../sass/_shared.scss */
.data-list-header {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ECECED;
  background-image: -moz-linear-gradient(center top, #f7f8f8, #dbdbdc);
  background-repeat: repeat-x;
  border-color: #AAAAAA #AAAAAA -moz-use-text-color;
  border-image: none;
  border-radius: 4px 4px 0 0;
  border-style: solid solid none;
  border-width: 1px 1px 0;
  margin: 0 auto;
  padding: 9px 10px;
  font-weight: bold;
  color: #666;
  font-size: 12px;
}

/* line 91, ../sass/_shared.scss */
.data-list {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border: 1px solid #aaaaaa;
}
/* line 96, ../sass/_shared.scss */
.data-list .row {
  background-color: #fff;
  border-bottom: 1px solid #ececec;
  padding: 8px;
  font-size: 12px;
  cursor: pointer;
}
/* line 104, ../sass/_shared.scss */
.data-list .row:hover {
  background-color: #ececec;
}
/* line 108, ../sass/_shared.scss */
.data-list .row:last-child {
  border-bottom: none;
}

/* line 2, ../sass/_layout.scss */
body, html {
  background-color: white;
  font-size: 12px;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #333;
  background-image: url("/static/img/bg.png");
}

/* line 10, ../sass/_layout.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 15, ../sass/_layout.scss */
.plain .header {
  margin-top: 2em;
  text-align: center;
}

/* line 21, ../sass/_layout.scss */
.header {
  background-color: auto;
  padding: 5px 0 10px 0;
}
/* line 25, ../sass/_layout.scss */
.header .account {
  float: right;
  padding-top: 20px;
}
/* line 28, ../sass/_layout.scss */
.header .account ul li {
  display: inline-block;
  margin-left: 4px;
}
/* line 33, ../sass/_layout.scss */
.header .account a {
  text-decoration: none;
  color: #666;
}

/* line 40, ../sass/_layout.scss */
.application {
  background-color: #fff;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
}
/* line 47, ../sass/_layout.scss */
.application .top {
  height: 2em;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(5%, #3584d8), color-stop(100%, #2777cc));
  background-image: -webkit-linear-gradient(center top, #3584d8 5%, #2777cc 100%);
  background-image: -moz-linear-gradient(center top, #3584d8 5%, #2777cc 100%);
  background-image: -o-linear-gradient(center top, #3584d8 5%, #2777cc 100%);
  background-image: -ms-linear-gradient(center top, #3584d8 5%, #2777cc 100%);
  background-image: linear-gradient(center top, #3584d8 5%, #2777cc 100%);
  -webkit-border-radius: 2px 2px 0 0;
  -moz-border-radius: 2px 2px 0 0;
  -ms-border-radius: 2px 2px 0 0;
  -o-border-radius: 2px 2px 0 0;
  border-radius: 2px 2px 0 0;
  -webkit-box-shadow: 0 1px #609ee0 inset;
  -moz-box-shadow: 0 1px #609ee0 inset;
  box-shadow: 0 1px #609ee0 inset;
  border-bottom: 1px solid #1f5ea1;
}

/* line 55, ../sass/_layout.scss */
.content {
  clear: both;
  *zoom: 1;
  overflow: hidden;
}
/* line 38, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.content:after {
  content: "";
  display: table;
  clear: both;
}
/* line 60, ../sass/_layout.scss */
.content .sidebar {
  width: 16.667%;
  float: left;
  margin-right: 0%;
  display: inline;
  -webkit-border-radius: 0 0 0 4px;
  -moz-border-radius: 0 0 0 4px;
  -ms-border-radius: 0 0 0 4px;
  -o-border-radius: 0 0 0 4px;
  border-radius: 0 0 0 4px;
  background-color: #E9F2F9;
  border-right: 1px solid #c1daee;
}
/* line 65, ../sass/_layout.scss */
.content .sidebar #padding {
  height: 2em;
}
/* line 68, ../sass/_layout.scss */
.content .workspace {
  width: 83.333%;
  float: right;
  margin-right: 0;
  #margin-left: 0px;
  display: inline;
  background-color: #ececec;
}
/* line 73, ../sass/_layout.scss */
.content .workspace-inner {
  padding: 1em;
}

/* line 2, ../sass/_login.scss */
.box {
  width: 330px;
  margin: 0 auto;
}

/* line 7, ../sass/_login.scss */
.login {
  background-color: #fff;
  margin-top: 2em;
  -webkit-box-shadow: 1px 1px 5px #cccccc;
  -moz-box-shadow: 1px 1px 5px #cccccc;
  box-shadow: 1px 1px 5px #cccccc;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}
/* line 14, ../sass/_login.scss */
.login form {
  padding: 14px;
}
/* line 17, ../sass/_login.scss */
.login form label {
  display: none;
}
/* line 21, ../sass/_login.scss */
.login form label.remember {
  display: block;
}
/* line 23, ../sass/_login.scss */
.login form label.remember input {
  display: inline;
  width: auto;
}
/* line 29, ../sass/_login.scss */
.login form input {
  font-size: 18px;
  padding: 10px 12px;
  width: 100%;
}
/* line 35, ../sass/_login.scss */
.login form .field {
  margin-bottom: 1em;
}
/* line 39, ../sass/_login.scss */
.login form .button {
  width: 100%;
}

/* line 45, ../sass/_login.scss */
.noaccount {
  margin-top: 1em;
  text-align: center;
}

/* line 3, ../sass/_buttons.scss */
.button.primary {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  -moz-box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  box-shadow: inset 0px 1px 0px 0px #bbdaf7;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #79bbff), color-stop(1, #378de5));
  background: -moz-linear-gradient(center top, #79bbff 5%, #378de5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#79bbff', endColorstr='#378de5');
  background-color: #79bbff;
  border: 1px solid #84bbf3;
  display: inline-block;
  color: #ffffff;
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
  padding: 6px 24px;
  text-decoration: none;
  text-shadow: 1px 1px 0px #528ecc;
}
/* line 23, ../sass/_buttons.scss */
.button.primary:active {
  position: relative;
  top: 1px;
}
/* line 28, ../sass/_buttons.scss */
.button.normal {
  -moz-user-select: none;
  background-color: #F1F4F9;
  background-image: -moz-linear-gradient(center top, #f7faff, #e8ebf0);
  background-repeat: repeat-x;
  border: 1px solid #B1BCCA;
  border-radius: 3px 3px 3px 3px;
  box-shadow: 0 1px 1px white inset, 0 1px 2px rgba(0, 0, 0, 0.05);
  color: #737C93;
  cursor: pointer;
  display: inline-block;
  font-family: proxima-nova,sans-serif;
  font-size: 12px;
  font-weight: 600;
  padding: 8px 16px;
  vertical-align: top;
  text-decoration: none;
}
/* line 47, ../sass/_buttons.scss */
.button.normal:active {
  outline: none;
  background-color: #E2E5EC;
  background-image: -moz-linear-gradient(center top, #dde0e7, #e9ecf3);
  background-repeat: repeat-x;
  border-color: #CCD0DA;
  box-shadow: 0 1px 3px rgba(96, 101, 124, 0.1) inset, 0 1px 0 white;
  color: #5C627F;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}

/* line 59, ../sass/_buttons.scss */
a.btn-small {
  font-size: 0.833em;
  line-height: 2.4em;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #eeeeee), color-stop(100%, #ffffff));
  background-image: -webkit-linear-gradient(#eeeeee, #ffffff);
  background-image: -moz-linear-gradient(#eeeeee, #ffffff);
  background-image: -o-linear-gradient(#eeeeee, #ffffff);
  background-image: -ms-linear-gradient(#eeeeee, #ffffff);
  background-image: linear-gradient(#eeeeee, #ffffff);
  padding: 2px 5px;
  position: relative;
  line-height: 1em;
  border-color: #D8D8D8 #C6C6C6 #C6C6C6;
  border-style: solid;
  border-width: 1px;
  display: inline-block;
  font-weight: bold;
  text-align: center;
  text-decoration: none !important;
  color: #666;
}
/* line 78, ../sass/_buttons.scss */
a.btn-small:hover {
  cursor: pointer;
}

/* line 38, ../sass/_forms.scss */
form label {
  color: #828282;
  font-weight: bold;
}
/* line 42, ../sass/_forms.scss */
form input, form textarea, form select {
  color: #555555;
  font-family: inherit;
}
/* line 46, ../sass/_forms.scss */
form select {
  background-color: #ececec;
}
/* line 49, ../sass/_forms.scss */
form .field {
  margin-bottom: 1em;
  clear: both;
}
/* line 54, ../sass/_forms.scss */
form input.error {
  border: 1px solid #ff0000;
}
/* line 58, ../sass/_forms.scss */
form span.error {
  font-size: 1em;
  line-height: 2em;
  color: red;
}

/* line 65, ../sass/_forms.scss */
form.inline label {
  display: inline-block;
  width: 150px;
}
/* line 70, ../sass/_forms.scss */
form.inline div.input {
  display: inline-block;
}
/* line 74, ../sass/_forms.scss */
form.inline span.error {
  display: block;
}

/* line 79, ../sass/_forms.scss */
form.create {
  width: 80%;
  margin: 3em auto;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 5px #cccccc;
  -moz-box-shadow: 0px 0px 5px #cccccc;
  box-shadow: 0px 0px 5px #cccccc;
}
/* line 6, ../sass/_forms.scss */
form.create input, form.create textarea, form.create select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 16, ../sass/_forms.scss */
form.create input:focus, form.create textarea:focus, form.create select:focus {
  -webkit-box-shadow: 0 0 2px blue;
  -moz-box-shadow: 0 0 2px blue;
  box-shadow: 0 0 2px blue;
  border: 1px solid rgba(82, 168, 236, 0.6);
}
/* line 24, ../sass/_forms.scss */
form.create input, form.create textarea {
  font-size: 1em;
  padding: 4px;
}
/* line 29, ../sass/_forms.scss */
form.create select {
  font-size: 1em;
  padding: 4px;
}
/* line 88, ../sass/_forms.scss */
form.create .fields {
  padding: 1em;
  background: -moz-linear-gradient(center top, white, #f5f4f4) repeat-x scroll 0 0 #fbfbfb;
  border: 1px solid #AAAAAA;
  border-radius: 0 0 4px 4px;
  margin: 0 auto 12px;
}
/* line 93, ../sass/_forms.scss */
form.create input {
  width: 366px;
}
/* line 97, ../sass/_forms.scss */
form.create .header {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #ECECED;
  background-image: -moz-linear-gradient(center top, #f7f8f8, #dbdbdc);
  background-repeat: repeat-x;
  border-color: #AAAAAA #AAAAAA -moz-use-text-color;
  border-image: none;
  border-radius: 4px 4px 0 0;
  border-style: solid solid none;
  border-width: 1px 1px 0;
  margin: 0 auto;
  padding: 9px 10px;
  font-weight: bold;
  color: #666;
}

/* line 103, ../sass/_forms.scss */
form.create.invoice input.reference {
  width: auto;
}
/* line 106, ../sass/_forms.scss */
form.create.invoice select {
  width: 366px;
}
/* line 110, ../sass/_forms.scss */
form.create.invoice input.date {
  width: 200px;
}
/* line 114, ../sass/_forms.scss */
form.create.invoice div.field-due_date {
  display: none;
}

/* line 121, ../sass/_forms.scss */
form.create.company select#country, form.create.company div#s2id_country {
  width: 250px;
}
/* line 125, ../sass/_forms.scss */
form.create.company input#post_code {
  width: 100px;
}
/* line 129, ../sass/_forms.scss */
form.create.company div.photo {
  display: inline-block;
  width: 366px;
  border: 1px solid #ccc;
  padding: 1em;
}
/* line 136, ../sass/_forms.scss */
form.create.company input#photo-upload {
  width: 150px;
}

/* line 142, ../sass/_forms.scss */
form.create.client select#country, form.create.client div#s2id_country {
  width: 250px;
}
/* line 146, ../sass/_forms.scss */
form.create.client input#post_code {
  width: 100px;
}

/* line 1, ../sass/_flash.scss */
ul.flashes {
  display: block;
  padding: 4px;
  margin-top: 4px;
  background-color: #fff;
}

/* line 4, ../sass/_invoice.scss */
#invoice-header .logo.screen {
  height: 75px;
}

/* line 10, ../sass/_invoice.scss */
.invoice-data-list .col {
  width: 160px;
}

/* line 16, ../sass/_invoice.scss */
.pagestyle {
  border-top: 1px solid #CCC;
  border-left: solid 1px #CCC;
  border-bottom: solid 2px #888;
  border-right: solid 2px #888;
  display: inline-block;
  margin: 0 auto;
  padding: 10px 20px;
  position: relative;
  width: 730px;
}

/* line 28, ../sass/_invoice.scss */
.draft .pagestyle {
  padding-right: 1.75cm !important;
}

/* line 32, ../sass/_invoice.scss */
.pagestyle:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}

/* line 41, ../sass/_invoice.scss */
html[xmlns] .pagestyle {
  display: block;
}

/* line 45, ../sass/_invoice.scss */
.pagestyle img {
  border: none;
}

/* line 49, ../sass/_invoice.scss */
#invoice {
  display: block;
  margin: 2em auto;
}
/* line 53, ../sass/_invoice.scss */
#invoice .item-controls {
  position: absolute;
  right: 10px;
  width: 58px;
}

/* line 6, ../sass/_forms.scss */
#new-invoice-item form input, #new-invoice-item form textarea, #new-invoice-item form select, #edit-invoice-item form input, #edit-invoice-item form textarea, #edit-invoice-item form select {
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
}
/* line 16, ../sass/_forms.scss */
#new-invoice-item form input:focus, #new-invoice-item form textarea:focus, #new-invoice-item form select:focus, #edit-invoice-item form input:focus, #edit-invoice-item form textarea:focus, #edit-invoice-item form select:focus {
  -webkit-box-shadow: 0 0 2px blue;
  -moz-box-shadow: 0 0 2px blue;
  box-shadow: 0 0 2px blue;
  border: 1px solid rgba(82, 168, 236, 0.6);
}
/* line 24, ../sass/_forms.scss */
#new-invoice-item form input, #new-invoice-item form textarea, #edit-invoice-item form input, #edit-invoice-item form textarea {
  font-size: 1em;
  padding: 4px;
}
/* line 29, ../sass/_forms.scss */
#new-invoice-item form select, #edit-invoice-item form select {
  font-size: 1em;
  padding: 4px;
}
/* line 6, ../sass/_popup.scss */
#new-invoice-item form .field *, #edit-invoice-item form .field * {
  vertical-align: middle;
}
/* line 10, ../sass/_popup.scss */
#new-invoice-item form label, #edit-invoice-item form label {
  width: 100px;
}
/* line 14, ../sass/_popup.scss */
#new-invoice-item form .help, #edit-invoice-item form .help {
  margin-left: 100px;
  font-size: 11px;
}
/* line 19, ../sass/_popup.scss */
#new-invoice-item form .cancel, #edit-invoice-item form .cancel {
  text-decoration: none;
  color: #999;
  text-shadow: 1px 1px 0 #fff;
  padding-left: 1em;
}
/* line 26, ../sass/_popup.scss */
#new-invoice-item form .cancel:hover, #edit-invoice-item form .cancel:hover {
  color: #333;
}
/* line 30, ../sass/_popup.scss */
#new-invoice-item form #details, #edit-invoice-item form #details {
  line-height: 1em;
  width: 370px;
}
/* line 35, ../sass/_popup.scss */
#new-invoice-item form #price, #edit-invoice-item form #price {
  width: 6em;
}
/* line 39, ../sass/_popup.scss */
#new-invoice-item form #vat, #edit-invoice-item form #vat {
  width: 6em;
}
/* line 43, ../sass/_popup.scss */
#new-invoice-item form .actions *, #edit-invoice-item form .actions * {
  vertical-align: middle;
}

/* line 50, ../sass/_popup.scss */
#facebox .content-wrapper {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.7);
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.7);
  -moz-box-shadow: 0 0px 4px rgba(0, 0, 0, 0.7);
}
/* line 57, ../sass/_popup.scss */
#facebox .header {
  background: url("/static/img/header.png");
  padding: 18px 18px 14px 18px;
  border-bottom: 1px solid #CCC;
  -webkit-border-radius: 5px 5px 0 0;
  -moz-border-radius: 5px 5px 0 0;
  -ms-border-radius: 5px 5px 0 0;
  -o-border-radius: 5px 5px 0 0;
  border-radius: 5px 5px 0 0;
}
/* line 63, ../sass/_popup.scss */
#facebox .header h2 {
  color: #444444;
  font-size: 2em;
  font-weight: 700;
  margin-bottom: 3px;
  text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.5);
}
/* line 73, ../sass/_popup.scss */
#facebox .content {
  padding: 1em;
  background-color: #fff;
}

/* line 1, ../sass/invoice_themes/_default.scss */
#invoice h1 {
  margin: 0;
  color: #555;
  font-size: 24px;
  text-transform: uppercase;
}

/* line 2, ../sass/invoice_themes/_default.scss */
#invoice h2, #Main #invoice h3 {
  color: #000;
  text-transform: none;
}

/* line 3, ../sass/invoice_themes/_default.scss */
#invoice h2 {
  margin: 10px 0;
  font-size: 14pt;
}

/* line 4, ../sass/invoice_themes/_default.scss */
#invoice-amount td, th {
  font-size: 10pt;
}

/* line 5, ../sass/invoice_themes/_default.scss */
#invoice-header #company-address {
  text-align: right;
  font-size: 11pt;
  line-height: 14pt;
}

/* line 6, ../sass/invoice_themes/_default.scss */
#invoice #client-details, #invoice-info p {
  font-size: 10pt;
  line-height: 14pt;
}

/* line 7, ../sass/invoice_themes/_default.scss */
#invoice #invoice-other, #invoice #payment-details {
  font-size: 10pt;
  line-height: 14pt;
}

/* line 8, ../sass/invoice_themes/_default.scss */
#invoice-info h2, #invoice-info h3 {
  margin: 0;
  font-weight: normal;
}

/* line 9, ../sass/invoice_themes/_default.scss */
#invoice #invoice-info h2 {
  text-transform: uppercase;
  font-size: 18pt;
}

/* line 10, ../sass/invoice_themes/_default.scss */
#invoice #invoice-info h3 {
  font-size: 12pt;
}

/* line 11, ../sass/invoice_themes/_default.scss */
#invoice #invoice-info p {
  text-align: right;
  margin-top: 0;
}

/* line 12, ../sass/invoice_themes/_default.scss */
#invoice-info #payment-total {
  display: none;
}

/* line 13, ../sass/invoice_themes/_default.scss */
#comments {
  font-weight: bold;
  margin-top: 0;
  font-size: 10pt;
}

/* line 14, ../sass/invoice_themes/_default.scss */
#invoice #invoice-info h2, #invoice #company-address div.email, #invoice #invoice-other h2, #invoice #payment-details h2 {
  color: #a10000;
}

/* line 15, ../sass/invoice_themes/_default.scss */
#invoice #invoice-other h2, #invoice #payment-details h2 {
  font-weight: normal;
  text-transform: uppercase;
}

/*=========================== LAYOUT =========================*/
/* line 19, ../sass/invoice_themes/_default.scss */
#invoice {
  padding: 0 1cm 1cm 1cm;
  background: #fff top left repeat-y;
  border: 1px solid #ccc;
}

/* line 20, ../sass/invoice_themes/_default.scss */
#invoice-header .logo {
  float: left;
}

/* line 21, ../sass/invoice_themes/_default.scss */
#invoice-header {
  margin-top: 1.5cm;
  border-bottom: 1px solid #a10000;
  padding-bottom: 10px;
  overflow: hidden;
}

/* line 22, ../sass/invoice_themes/_default.scss */
* html #invoice-header {
  height: 1%;
}

/* line 23, ../sass/invoice_themes/_default.scss */
#invoice-blank-header {
  margin-top: 1.6cm;
}

/* line 24, ../sass/invoice_themes/_default.scss */
#invoice-info {
  margin: 0.7cm 0 20px 0;
  width: 55%;
  float: right;
  text-align: right;
}

/* line 25, ../sass/invoice_themes/_default.scss */
#invoice-info #payment-terms {
  display: none;
}

/* line 26, ../sass/invoice_themes/_default.scss */
#invoice-info #payment-due {
  font-style: italic;
}

/* line 27, ../sass/invoice_themes/_default.scss */
#company-address {
  margin: 0;
  padding: 0;
  width: 300px;
  float: right;
}

/* line 28, ../sass/invoice_themes/_default.scss */
#client-details {
  margin: 0.7cm 0 20px 0cm;
  float: left;
  width: 35%;
}

/* Positioned to appear in a standard envelope window when printed */
/* line 29, ../sass/invoice_themes/_default.scss */
#invoice-other {
  text-align: right;
  clear: both;
  float: right;
  width: 50%;
  margin-top: 0;
}

/* line 30, ../sass/invoice_themes/_default.scss */
#invoice #payment-details {
  float: left;
  width: 45%;
  margin-top: 0;
}

/* line 31, ../sass/invoice_themes/_default.scss */
#payment-details .sort-code, #payment-details .account-number, #payment-details .payment-reference {
  clear: left;
}

/* line 32, ../sass/invoice_themes/_default.scss */
#payment-details strong {
  font-weight: normal;
  float: left;
  width: 12em;
}

/* line 33, ../sass/invoice_themes/_default.scss */
#invoice-other strong {
  font-weight: normal;
  float: left;
  width: 16em;
}

/* line 34, ../sass/invoice_themes/_default.scss */
#invoice-other #comments {
  clear: both;
  margin-top: 0em;
  font-weight: normal;
  color: #a10000;
}

/* line 35, ../sass/invoice_themes/_default.scss */
#invoice-other #contract-number {
  margin-bottom: 3em;
}

/* line 37, ../sass/invoice_themes/_default.scss */
#comments {
  clear: both;
  padding-top: 0.3cm;
}

/*=========================== TABLES =========================*/
/* line 41, ../sass/invoice_themes/_default.scss */
#invoice table#invoice-amount {
  border-collapse: collapse;
  width: 100%;
  clear: both;
  margin: 1cm 0 0.4cm 0;
}

/* line 42, ../sass/invoice_themes/_default.scss */
#invoice-amount th {
  text-align: left;
  white-space: nowrap;
  padding: 3px 5px 3px 5px;
  font-weight: normal;
  background: #F2F2F2;
}

/* line 43, ../sass/invoice_themes/_default.scss */
#invoice-amount td {
  margin: 0;
  padding: 4px 5px 4px 5px;
  vertical-align: top;
}

/* line 44, ../sass/invoice_themes/_default.scss */
#invoice-amount tr.item td {
  background: #fff;
}

/* line 45, ../sass/invoice_themes/_default.scss */
#invoice-amount td.item_r {
  text-align: right;
}

/* line 46, ../sass/invoice_themes/_default.scss */
#invoice-amount td.item_l {
  text-align: left;
  white-space: normal;
}

/* line 47, ../sass/invoice_themes/_default.scss */
#invoice-amount td.total {
  text-align: right;
  font-weight: bold;
  /*color: #a10000;*/
}

/* line 48, ../sass/invoice_themes/_default.scss */
#invoice-amount td.action {
  background: #FFF;
  width: 7%;
  padding-right: 0;
  white-space: nowrap;
  text-align: center;
}

/* line 49, ../sass/invoice_themes/_default.scss */
#invoice-amount tr#total_tr {
  background: #F2F2F2;
}

/* line 50, ../sass/invoice_themes/_default.scss */
#invoice-amount td {
  border-top: 1px solid #F2F2F2;
}

/* line 51, ../sass/invoice_themes/_default.scss */
#invoice-amount tr#discount_tr, #invoice-amount tr#net_total_tr, #invoice-amount tr#vat_tr {
  color: #777;
}

/* line 53, ../sass/invoice_themes/_default.scss */
#invoice-amount .details_th {
  width: 46%;
}

/* line 54, ../sass/invoice_themes/_default.scss */
#invoice-amount .details_notax_th {
  width: 54%;
}

/* line 55, ../sass/invoice_themes/_default.scss */
#invoice-amount .quantity_th {
  width: 13%;
}

/* line 56, ../sass/invoice_themes/_default.scss */
#invoice-amount .subtotal_th {
  width: 18%;
  text-align: right;
}

/* line 57, ../sass/invoice_themes/_default.scss */
#invoice-amount .unitprice_th {
  width: 15%;
  text-align: right;
}

/* line 58, ../sass/invoice_themes/_default.scss */
#invoice-amount .salestax_th {
  width: 8%;
  text-align: center;
}

/* Invoice UK VAT Summary Table */
/* line 61, ../sass/invoice_themes/_default.scss */
#invoice #invoice-uk-vat-summary {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0 0 0;
  clear: both;
  border: 0;
  background: #fff;
}

/* line 62, ../sass/invoice_themes/_default.scss */
#invoice tr#invoice-uk-vat-header th {
  padding: 7px 0;
  border-top: 1px solid #ccc;
}

/* line 63, ../sass/invoice_themes/_default.scss */
#invoice-uk-vat-summary td, #invoice #invoice-uk-vat-summary th {
  text-align: left;
  font-size: 9pt;
  padding: 2px 0;
}

/* line 64, ../sass/invoice_themes/_default.scss */
#vat-total td, #vat-total th {
  border-top: 1px solid #ccc;
}

/* line 1, ../sass/vendor/_facebox.scss */
#facebox {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  text-align: left;
}

/* line 9, ../sass/vendor/_facebox.scss */
#facebox .popup {
  position: relative;
}

/* line 13, ../sass/vendor/_facebox.scss */
#facebox .content-wrapper {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: table;
}

/* line 19, ../sass/vendor/_facebox.scss */
#facebox .close {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 2px;
}

/* line 25, ../sass/vendor/_facebox.scss */
#facebox .close img {
  opacity: 0.3;
}

/* line 28, ../sass/vendor/_facebox.scss */
#facebox .close:hover img {
  opacity: 1.0;
}

/* line 32, ../sass/vendor/_facebox.scss */
#facebox .loading {
  text-align: center;
}

/* line 36, ../sass/vendor/_facebox.scss */
#facebox .image {
  text-align: center;
}

/* line 40, ../sass/vendor/_facebox.scss */
#facebox_overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
}

/* line 48, ../sass/vendor/_facebox.scss */
.facebox_hide {
  z-index: -100;
}

/* line 52, ../sass/vendor/_facebox.scss */
.facebox_overlayBG {
  z-index: 99;
  background: radial-gradient(ellipse closest-corner at 50% 50%, rgba(0, 0, 0, 0.3) 1%, rgba(0, 0, 0, 0.624) 100%) repeat scroll 0 0 transparent;
  height: 100%;
  overflow: hidden;
  pointer-events: none;
  position: absolute;
}

/* line 23, ../sass/screen.scss */
.container {
  *zoom: 1;
  max-width: 960px;
  _width: 960px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0px;
  padding-right: 0px;
  -webkit-background-origin: content;
  -moz-background-origin: content;
  -ms-background-origin: content-box;
  -o-background-origin: content-box;
  background-origin: content-box;
  -webkit-background-clip: content-box;
  -moz-background-clip: content-box;
  background-clip: content-box;
}
/* line 38, ../../../../../../../home/sanjeevan/.rvm/gems/ruby-1.9.3-p194/gems/compass-0.13.alpha.0/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.container:after {
  content: "";
  display: table;
  clear: both;
}
