
.dashboard {
  padding-left: 10px;
  padding-right: 10px;
  
  #graph {
    margin: 0.5em;
  }

  .row {
    margin-top: 10px;
    @include clearfix;
  }

  .card {
    background-color: #fff;
    padding: 1em;
    @include border-radius(5px);
    @include box-shadow(0px 0px 2px #ccc); 
    border: 1px solid #aaa;
  }

}

