body, html {
  background-color: #fff;
  font-size: 14px;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #333;
}

* {
}

a img {
  vertical-align: middle;
}

h1 {
  color: $h1-colour;
  font-size: 28px;
  line-height: 1em;
  font-weight: 900;
}


