
/// -- Form mixins 
$highlight-focus: #ff0000;

@mixin glow-inputs() {
  input, textarea, select {
    border:1px solid rgba(0,0,0, 0.2);
    outline:none;

    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
    
    @include border-radius(3px);
    
    &:focus {
      @include box-shadow(0 0 2px rgba(0, 0, 255, 1)); 
      border:1px solid rgba(82, 168, 236, 0.6); 
    }
  }
}

@mixin large-inputs() {
  input, textarea {
    font-size: 1em;
    padding: 4px;
  }

  select {
    font-size: 1em;
    padding: 4px;
  }
}

::-webkit-input-placeholder {
    color:    #999;
}
:-moz-placeholder {
    color:    #999;
}
::-moz-placeholder {
    color:    #999;
}
:-ms-input-placeholder {
    color:    #999;
}

/// -- Form styles

form {
  label {
    color: #828282;
    font-weight: bold;
  }
  input, textarea, select {
    color: #555555;
    font-family: inherit;
  }
  select {
    background-color: #ececec;
  }

  .field {
    margin-bottom: 1em;
    clear: both;
  }

  .group-header {
    margin-bottom: 0.5em;
  }

  .group {
    background-color: #efefef;
    padding: 1em;
    border: 1px solid #aaa;
    margin-bottom: 1em;
  }

  input.error {
    border: 1px solid #ff0000;
  }

  span.error {
    @include adjust-font-size-to(12px);
    color: red;
  }

  .help {
    font-size: 1em;
    color: #ccc;
    display: inline-block;
  }
}

form.inline {
  label {
    display: inline-block;
    width: 150px;
  }
  
  div.input {
    display: inline-block;
  }

  div.vtop {
    vertical-align: top;
  }

  span.error {
    display: block;
  }
}

form.create {
  width: 100%;
  margin: 0em auto;
  
  //@include border-radius(4px);
  @include box-shadow(0px 0px 5px #ccc);
  @include glow-inputs();
  @include large-inputs();

  .fields {
    padding: 1em;
    @include panel-body();
  }

  input[type="text"], input[type="password"] {
    width: 366px;
  }

  .header {
    @include panel-header2();
  }
}

form.account {
  input, select, textarea  {
    width: 50%;
  }
}

form.invoice {
  input.reference {
    width: auto;
  }
  select {
    width: 366px;
  }

  input.date {
    width: 200px;
  }

  div.field-due_date {
    display: none;
  }

  .select2-container {
    width: 200px;
  }
}


form.company {
  select#country, div#s2id_country {
    width: 250px;
  }

  input#post_code {
    width: 100px;
  }

  div.photo {
    display: inline-block;
  }

  input#photo-upload {
  }
}

form.create.client {
  select#country, div#s2id_country {
    width: 250px;
  }

  input#post_code {
    width: 100px;
  }
}

form.create.custom-field {
  .vspacer {
    height: 16px;
  }

  input[type='text'] {
    width: 200px;
  }

  label {
    vertical-align: bottom;
    line-height: 29px;
    text-align: right;
    margin-right: 1em;
  }

  a.delete {
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
    line-height: 29px;
    color: #999;
    margin-bottom: 10px;
    vertical-align: middle;
    &:hover { text-decoration: underline; }
  }
}

form.create.tax-rates {
  .vspacer {
    height: 16px;
  }

  input[type='text'] {
    width: 200px;
  }

  label {
    vertical-align: bottom;
    line-height: 29px;
    text-align: right;
    margin-right: 1em;
  }

  a.delete {
    display: inline-block;
    text-decoration: none;
    font-size: 11px;
    line-height: 29px;
    color: #999;
    vertical-align: middle;
    margin-bottom: 10px;

    &:hover { text-decoration: underline; }
  }
}

form.create.email {
  textarea {
    width: 366px;
    height: 100px;
  }
}


form.create.setting {
  textarea {
    width: 366px;
    height: 100px;
  }
}
