
body, html {
  color: #333;
  background-color: #356AA0;
  @include background-image(radial-gradient(center, ellipse cover, #356AA0 0%, lighten(#356AA0, 10%) 44%, lighten(#356AA0, 20%) 100%));
}

.plain {
  .header {
    margin-top: 2em;
    text-align: center;
  }
}

.header { 
  background-color: auto; 
  padding: 5px 0 10px 0;

  .account {
    float: right;
    padding-top: 20px;
    ul li {
      display: inline-block;
      margin-left: 4px;
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.application {
  background-color: #ececec;
  .top {
    @include panel-header;
  }
}

.sidebar {
  padding-left: 0;
  padding-right: 0;
}

.workspace {
  background-color: #fff;
  padding-left: 0;
  padding-right: 0;

  .content {
    min-height: 400px;
    .workspace-inner {
      padding: 10px;
    }
  }
}

.footer {
}

