
body, html {
  font-size: $base-font-size;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #356AA0;
  @include background-image(radial-gradient(center, ellipse cover, #356AA0 0%, lighten(#356AA0, 10%) 44%, lighten(#356AA0, 20%) 100%));
}

body, html * {
  -webkit-font-smoothing: antialiased;
}

.plain {
  .header {
    margin-top: 2em;
    text-align: center;
  }
}

.container {
  padding-bottom: 3em;
}

.header { 
  background-color: auto; 
  padding: 5px 0 10px 0;

  .account {
    float: right;
    padding-top: 20px;
    ul li {
      display: inline-block;
      margin-left: 4px;
    }

    a {
      text-decoration: none;
      color: #fff;
    }

    a:hover {
      text-decoration: underline;
    }
  }
}

.content {
  .workspace-inner {
    padding: 10px;
  }
  min-height: 400px;
}

.application {
  background-color: #ececec;
  @include border-radius(10px);
  .top {
    @include panel-header;
  }
  .bottom {
  }
}

.sidebar {

}

.workspace {
  background-color: #fff;
}

.footer {
}

