
body, html {
  background-color: $bg-colour;
  font-size: $base-font-size;
  font-family: "HelveticaNeue", Helvetica, Arial, sans-serif;
  color: #333;
  background-image: url('/static/img/bg.png');
}

.plain {
  .header {
    margin-top: 2em;
    text-align: center;
  }
}

.header { 
  background-color: auto; 
  padding: 5px 0 10px 0;

  .account {
    float: right;
    padding-top: 20px;
    ul li {
      display: inline-block;
      margin-left: 4px;
    }

    a {
      text-decoration: none;
      color: #666;
    }
  }
}

.content {
  .workspace-inner {
    padding: 10px;
  }
}

.application {
  background-color: #fff;
  
  .top {
    @include panel-header;
  }

  .bottom {
  }
}

.workspace {
  background-color: #ccc;
}

.footer {
}

.subnav {
  background-color: #efefef; 

  ul li {
    display: inline-block;
    padding: 8px;
    a {
      text-decoration: none; 
      color: #777777;
      text-shadow: 0 1px 0 #fff;
    }
  }
  
  ul {
    margin: 0;
    border-bottom: 1px solid #ccc;
  }

  ul li.active {
    font-weight: bold;
  }
}

.first-create {
  margin: 50px auto;
  display: block;
  text-align: center;
}

