
.box {
  width: 330px;
  margin: 0 auto;
}

.login {
  background-color: #fff;
  margin-top: 2em;

  @include border-radius(5px);

  .noaccount {
    margin-top: 1em;
    text-align: center;
    font-size: 12px;
  }

  form {
    padding: 14px;

    label {
      display: none;
    }

    label.remember {
      display: block;
      input {
        display: inline;
        width: auto;
      }
    }

    input {
      font-size: 18px;
      width: 100%;
      @include box-sizing(border-box);
      height: auto;
    }

    .field {
      margin-bottom: 1em;
    }

    .button {
      width: 100%;
    }
  }
}

