
.subnav {
  background-color: #efefef;

  ul li {
    display: inline-block;
    padding: 8px;
    a {
      text-decoration: none;
      color: #777777;
      text-shadow: 0 1px 0 #fff;
    }
  }

  ul {
    margin: 0;
    border-bottom: 1px solid #ccc;
  }

  ul li.active {
    font-weight: bold;
  }
}

.icon-menu {
  li {
    text-align: center;
    display: block;
    a:hover {
      background-color: none;
    }

    a {
      @include text-shadow(0px 1px 0px #fff);
      height: 64px;
      color: #777;
      text-align: center;
      display: block;
    }
  }
}
