#new-invoice-item, #edit-invoice-item {
  form {
    @include glow-inputs();
    @include large-inputs();

    .field * {
      vertical-align: middle;
    }

    label {
      width: 100px;
    }

    .help {
      margin-left: 100px;
      font-size: 11px;
    }

    .cancel {
      text-decoration: none;
      color: #999;
      text-shadow: 1px 1px 0 #fff;
      padding-left: 1em;
    }

    .cancel:hover {
      color: #333;
    }

    #details {
      line-height: 1em;
      width: 370px;
    }

    #price {
      width: 6em;
    }

    #vat {
      width: 6em;
    }

    .actions * {
      vertical-align: middle;
    }
  }
}


