/* Basic elements */

h1 {
  color: #000;
}

a img {
  vertical-align: middle;
}

.content > h1 {
  padding-left: 10px;
  font-size: 2em;
}

.filters {
  @include background-image(linear-gradient(#efefef 0%, darken(#ffffff, 15%) 100%, transparent 50%));
  @include clearfix;

  border-bottom: 1px solid #AAAAAA;
  
  padding: 8px;
  background-color: #efefef;

  a {
    text-decoration: none;
    color: #555555;
    line-height: 16px;
    padding: 4px 10px;
    @include border-radius(20px);

    img { 
      vertical-align: middle;
      margin-bottom: 3px;
    }
  }
  
  a:hover {
    background-color: #ccc;
  }

  .left {
    float: left;
  }
  
  .right {
    float: right;
  }
}

.move-right {
  float: right;
}

.first-create {
  margin: 50px auto;
  display: block;
  text-align: center;
}


.flash {
  margin-top: 1em;
}

/// -- Data lists --- 

.data-list-header {
  @include panel-header2();
}

.data-list {
  @include box-sizing(border-box);
  border: 1px solid #aaaaaa;
  font-size: 0.9em;
}

.clickable {
  cursor: pointer;
}

.label-count {
  background-color: #ccc;
  color: #fff;
}

.label-success, .label-paid {
  background-color: #468847;
}

.label-important, .label-overdue {
  background-color: #B94A48;
}

.label-info, .label-saved{
  background-color: #3A87AD;
}
