{% extends 'layout.html' %}

{% block content %}

  <div class='workspace-inner'>
    <h1>Dashboard</h1>
    
    <div class="dashboard">
      <div class='card' id='graph' style='min-width: 400px; height: 240px; margin: 0 0'>
      </div>
      
      <div class='row'>

      </div>

    </div>
  </div>

  <script type="text/javascript">
    function renderChart(categories, series) {
      chart = new Highcharts.Chart({
        chart: {
          renderTo: 'graph',
          type: 'column'
        },
        title: {
          text: ''
        },
        xAxis: {
          categories: categories
        },
        yAxis: {
          min: 0,
          title: {
            text: ''
          }
        },
        plotOptions: {
          column: {
            pointPadding: 0.2,
            borderWidth: 0
          }
        },
        legend: {
          layout: 'horizontal',
          backgroundColor: '#FFFFFF',
          align: 'left',
          verticalAlign: 'top',
          x: 530,
          y: 10,
          floating: true,
          shadow: false 
        },
        series: series
      });
    }

    $(document).ready(function(){
        $.ajax('{{ url_for('home.graph') }}', {
          success: function(r) {
            console.log(r);
            renderChart(r.categories, r.series);
          }
        });
    });
  </script>



{% endblock %}
