{% extends "layout.html" %}
{% block content %}
  <div id="main-content" class="two-column">
  <div class="header">
    <h1>Featured <span class="subhead">our picks</span></h1>
  </div>

  <div id="hero"> 
  </div>

  <div class="header">
    <h1>Recent <span class="subhead">newest articles</span></h1> 
   </div>
  
  <div id="latest-articles" class="listing">
  </div>

</div>

<div id="sidebar" class="one-column">
  <div class="header">
    <h1>Trending now <span class="subhead">Across the web</span></h1>
  </div>
  <div id="trending-list" class="listing">
  </div>
</div>
{% endblock %}
