{% extends 'portal.html' %}
{% block content %}
  
  <h1>{{ invoice.user.company.name }}</h1>
  
  <div class="payment-header">Payment options</div>
  <div class="payment-options">
    {% if stripe.enabled %}
      <div class="method stripe">
        <a id="stripe-button" class="btn">Pay with debit/credit card</a> 
      </div>
    {% endif %}

    {% if gocardless.enabled %}
      <div class="method gocardless">
        <a class="btn" href="{{ url_for('portal.gocardless_pay', paylink=invoice_link.link, username=user.username) }}">Pay via direct debit</a>
      </div>
    {% endif %}
  </div>

  <div class="{{ invoice.status }}">
    <div id="invoice" >
      <div id="invoice-header">
        {% if company.logo %}
        <img alt="Logo" class="logo screen" src="{{ url_for('file.download', location=company.logo.thumbnail.get_web_url()) }}">
        {% endif %}
        <div class="vcard" id="company-address">
          {% include 'invoice/_company.html' %}
        </div>
      </div>
      <div id="invoice-info">
        {% include 'invoice/_info.html' %}
      </div>
      <div class="vcard" id="client-details">
        {% include 'invoice/_contact.html' %} 
      </div>

      <table id="invoice-amount">
        <thead>
          <tr id="header_row">
            <th class="quantity_th">Quantity</th>
            <th class="left details_th">Details</th>
            <th class="unitprice_th">Unit Price (£)</th>
            <th class="salestax_th">Tax</th>
            <th class="subtotal_th">Net Subtotal (£)</th>
          </tr>
        </thead>
        <tbody id="invoice_items">
          {% set idx = 0 %}
          {% set row_class = cycler('odd', 'event') %}
          {% for item in invoice.invoice_items %}
            {% set disable_item_controls = True %}
            {% include 'invoice/_item.html' %}
            {% set idx = idx + 1 %}
          {% endfor %}
        </tbody>
        <tfoot>
          {% include 'invoice/_footer.html' %}
        </tfoot>
      </table>

      {% include 'invoice/_other.html' %}

      <div class="clearfix"></div>
    </div>
  </div>
  
  <form id="stripe" method="post" action="{{ url_for('portal.stripe_pay', username=user.username, paylink=invoice_link.link) }}">
  </form>

  <script src="https://checkout.stripe.com/v2/checkout.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.js"></script>

  <script>
    $('#stripe-button').click(function(){
      var token = function(res){
        var $input = $('<input type=hidden name="stripe_token" />').val(res.id);
        $('form#stripe').append($input).submit();
      };

      StripeCheckout.open({
        key:         '{{ stripe.public_key }}',
        amount:      {{ invoice.total * 100 }},
        currency:    '{{ invoice.currency_code|lower }}',
        description: 'Invoice {{ invoice.reference }}',
        panelLabel:  'Checkout',
        token:       token
      });

      return false;
    });
  </script>


{% endblock %}

