{% extends 'layout.html' %}
{% from 'macros/_misc.html' import render_input %}

{% block content %}
  
  <ul class="breadcrumb">
    <li><a href="{{ url_for('client.index') }}">Clients</a></li>
    <li class="active">Add new client</li>
  </ul>


  <div class="workspace-inner">

    <form class="create inline" method="post" action="{{ url_for('.create') }}">
      <div class="header">Create new client</div>  
      <div class="fields">
        {{ form.csrf_token }}
        {{ render_input(form.first_name) }} 
        {{ render_input(form.last_name) }} 
        {{ render_input(form.email_address) }} 

        <div class="field">
          <button class="button normal" type="submit">Continue</button>
        </div>
      </div>
    </form>

  </div>

{% endblock %}
