{% extends 'layout.html' %}

{% block content %}
  
  <div class="filters">
    <div class="left">
      <a href="{{ url_for('.create') }}"><img src="/static/img/plus.png"> Add client</a>
    </div>
    <div class="right">
    </div>
  </div>

  {% if contacts|length == 0 %}
    
  <p class="first-create">You have no contacts setup, <a href="{{ url_for('.create') }}">add one now</a></p>
    
  {% else %}

  <div class="data-list">
  
    {% for contact in contacts %}
      <div class="row">
        <img src="/static/img/user_icon.png" />
        {{ contact.first_name }} {{ contact.last_name }}
      </div>
    {% endfor %}

  </table>

  {% endif %}

{% endblock %}
