{% extends 'layout.html' %}
{% from 'macros/_misc.html' import render_input %}
{% block content %}
  
  {% include 'invoice/_controls.html' %}
  <ul class="breadcrumb">
    <li><a href={{ url_for('invoice.index') }}"">Invoices</a> <span class="divider">/</span></li>
    <li><a href="{{ url_for('invoice.show', id=invoice.id) }}">Invoice {{ invoice.reference }}</a> <span class="divider">/</span></li>
    <li class="active">Add payment</li>
  </ul>

  <div class="workspace-inner">

    <dl>
      <dt>Payment due</dt>
      <dd>{{ invoice.total }}</dd>
    </dl>

    <form class="form form-horizontal create inline invoice" method="post" action="{{ url_for('payment.create', invoice_id=invoice.id) }}">
      <div class="header">Add payment</div>
      <div class="fields">
        {{ form.hidden_tag() }}
        {{ render_input(form.amount) }}
        {{ render_input(form.description) }}
        {{ render_input(form.date) }}

        <div class="field">
          <button class="button normal" type="submit">Add payment</button>
           or 
          <a href="javascript:history.back(-1);">Cancel</a>
        </div>
      </div>
    </form>

  </div>

  <script type="text/javascript">
    var dateFormat = 'D MMM YYYY'
    $(document).ready(function(){
      var picker1 = new Pikaday({ field: document.getElementById('date'), format: dateFormat });
    });
  </script>



{% endblock %}
