{% extends 'layout.html' %}
{% from 'macros/_misc.html' import render_input %}
{% block content %}

{% include 'invoice/_controls.html' %}
<ul class="breadcrumb">
  <li><a href="#">Invoices</a></li>
  <li><a href="{{ url_for('invoice.show', id=invoice.id) }}">Invoice {{ invoice.reference }}</a></li>
  <li class="active">Update payment</li>
</ul>

  <div class="workspace-inner">

    <form class="form form-horizontal create inline invoice" method="post" action="{{ url_for('payment.edit', id=payment.id) }}">
      <div class="header">Update payment</div>
      <div class="fields">
        {{ form.csrf_token }}
        {% if payment.method != 'manual' %}

          {{ render_input(form.amount, readonly=1) }}
          {{ render_input(form.description, readonly=1) }}
          {{ render_input(form.date, readonly=1) }}
        {% else %}
          {{ render_input(form.amount) }}
          {{ render_input(form.description) }}
          {{ render_input(form.date) }}
        {% endif %}
        <div class="field">
          <button class="button normal" type="submit">Update payment</button>
           or 
          <a href="javascript:history.back(-1);">Cancel</a>
        </div>
      </div>
    </form>

  </div>

  <script type="text/javascript">
    var dateFormat = 'D MMM YYYY'
    $(document).ready(function(){
      var picker1 = new Pikaday({ field: document.getElementById('date'), format: dateFormat });
    });
  </script>

{% endblock %}
