{% macro render_errors(field) %}
  {% if field.errors %}
    {% for error in field.errors %}
      <span class="error">{{ error }}</span>
    {% endfor %}
  {% endif %}
{% endmacro %}

{% macro render_input(field, cls='', placeholder) %}
<div class="field">
  {{ field.label }}
  <div class='input'>
    {% if field.errors %}
      {{ field(class_=cls~' error', placeholder=placeholder) }}
    {% else %}
      {{ field(class_=cls, placeholder=placeholder) }}
    {% endif %}
    {{ render_errors(field) }}
  </div>
</div>
{% endmacro %}

{% macro render_flash_message() %}
  {% block flash_message %}
    {% with messages = get_flashed_messages(with_categories=True) %}
      {% if messages %}
      <div id='flash_message_container'>
        {% for category, msg in messages %}
          <div class="alert-message {{ category }}" data-alert>
            <a class="close" href="#">×</a>
            <p>{{ msg }}</p>
          </div>
        {% endfor %}
      </div>
      {% endif %}
    {% endwith %}
  {% endblock %}
{% endmacro %}
