<tr class="item {{ row_class.next() }} " id="invoice-item-{{ item.id }}">
  <td class="item_l quantity_td">
    {{ item.quantity_str() }}
    {{ item.invoice_item_type.name }}
  </td>

  <td class="item_l description_td">
    {{ item.description }} 
  </td>

  <td class="item_r price_td">
    {% if item.should_render_field('price') %}
      {{ item.price }}
    {% endif %}
  </td>
  
  <td class="item_r taxrate_td">
    {{ item.tax }}
  </td>
  
  <td class="item_r subtotal_td">
    {% if invoice.status == 'draft' %}
    <div class="item-controls">
      <a data-id="{{ item.id }}" href="{{ url_for('invoice_item.update', id=item.id) }}" class="btn-small edit"  title="Edit invoice item">Edit</a>
      <a data-id="{{ item.id }}" href="{{ url_for('invoice_item.delete', id=item.id) }}" class="delete">
        <img src="/static/img/delete.png" />
      </a>
    </div>
    {% endif %}
    {% if item.should_render_field('total') %}
      {{ item.total }} 
    {% endif %}
  </td>
</tr>

