{% from 'macros/_misc.html' import render_input %}

<div id="add-payment" title="Add Payment" style="display: none">
  <form id="add-payment-form" role="form" class="form-horizontal" method="post" action="{{ url_for('payment.create', invoice_id=invoice.id) }}">
    {{ payment_form.hidden_tag() }}
    {{ render_input(payment_form.amount) }}
    {{ render_input(payment_form.description) }}
    {{ render_input(payment_form.date) }}

    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <button class="btn btn-primary" type="submit" onclick="$('#add-payment-form').submit(); return false;">Add payment</button>
         or 
        <a href="#">Cancel</a>
      </div>
    </div>
  </form>
</div>

<div id="email-modal" title="Email" style="display: none">
  <button class="btn btn-primary" onclick="$('#email-form').submit(); return false;">Send</button>
</div>

<script type="text/javascript">
  var dateFormat = 'D MMM YYYY'
  $(document).ready(function(){
    var picker1 = new Pikaday({ field: document.getElementById('date'), format: dateFormat });
    $("a[data-toggle='modal']").click(function(){
      var el = $(this);
      $(el.attr('href')).dialog({
        modal: true,
        width: 500,
      });
    });
  });
</script>
