{% extends 'layout.html' %}
{% from 'macros/_misc.html' import render_input %}
{% block content %}
  
  <ul class="breadcrumb">
    <li><a href="{{ url_for('invoice.index') }}">Invoices</a></li>
    <li class="active">New invoice</li>
  </ul>

  <h1>New invoice</h1>

  <div class="workspace-inner">

    <p>Create a new invoice</p>

    <form role="form" class="form-horizontal invoice" method="post" action="{{ url_for('.create') }}">
      {{ form.hidden_tag() }}
      {{ render_input(form.contact_id, class='') }}
      {{ render_input(form.reference, cls='reference', size=4) }} 
      {{ render_input(form.date_issued_nice, cls='date') }} 
      {{ render_input(form.payment_term_id, class='') }} 
      {{ render_input(form.due_date_nice, cls='date') }}
      {{ render_input(form.currency_code, class='') }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary" type="submit">Continue</button>
        </div>
      </div>
    </form>

  </div>

  <script type="text/javascript">
    var dueDateField = $('.field-due_date_nice');
    var dueDatePicker = null;
    var dateFormat = 'D MMM YYYY'

    $(document).ready(function(){
      var picker1 = new Pikaday({ field: document.getElementById('date_issued_nice'), format: dateFormat });

      setup();
    });

    function setup() {
      if ($('#payment_term_id').val() == 6) {
        dueDateField.show();
        dueDatePicker = new Pikaday({ field: document.getElementById('due_date_nice'), format: dateFormat });
      } else {
        dueDatePicker = null;
        dueDateField.hide();
      }

      $('#payment_term_id').on('change', function(evt){
          var v = $(this).val();
          if (v == 6) {
            dueDateField.show();
            dueDatePicker = new Pikaday({ field: document.getElementById('due_date_nice'), format: dateFormat });
          } else {
            dueDatePicker = null;
            dueDateField.hide();
          }
      });
    }


  </script>


{% endblock %}
