{% extends 'layout.html' %}
{% from 'macros/_misc.html' import render_input %}
{% block content %}
  
  {% include 'invoice/_controls.html' %}

  <ul class="breadcrumb">
    <li><a href="{{ url_for('invoice.index') }}">Invoices</a></li>
    <li><a href="{{ url_for('invoice.show', id=invoice.id) }}">Invoice {{ invoice.reference }}</a></li>
    <li class="active">Edit</li>
  </ul>

  <h1>Edit invoice</h1>

  <div class="workspace-inner">
    <p>Make changes to the invoice below</p>
    <form role="form" class="form-horizontal invoice" method="post" action="{{ url_for('.edit', id=invoice.id) }}">
      {{ form.hidden_tag() }}
      {{ render_input(form.contact_id, class='') }} 
      {{ render_input(form.reference, cls='reference', size=4) }} 
      {{ render_input(form.date_issued_nice, cls='date') }} 
      {{ render_input(form.payment_term_id, class='') }} 
      {{ render_input(form.due_date_nice, cls='date') }}
      {{ render_input(form.currency_code, class='') }}
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button class="btn btn-primary" type="submit">Continue</button>
           or 
          <a href="javascript:history.back(-1);">Cancel</a>
        </div>
    </div>
    </form>

  </div>

  <script type="text/javascript">
    var dueDateField = $('.field-due_date_nice');
    var dueDatePicker = null;
    var dateFormat = 'D MMM YYYY';

    $(document).ready(function(){
      var picker1 = new Pikaday({ field: document.getElementById('date_issued_nice'), format: dateFormat });

      setup();
    });

    function setup() {
      if ($('#payment_term_id').val() == 6) {
        dueDateField.show();
        dueDatePicker = new Pikaday({ field: document.getElementById('due_date_nice'), format: dateFormat });
      } else {
        dueDateField.hide();
        dueDatePicker = null;
      }

      $('#payment_term_id').on('change', function(evt){
          var v = $(this).val();
          if (v == 6) {
            dueDateField.show();
            dueDatePicker = new Pikaday({ field: document.getElementById('due_date_nice'), format: dateFormat });
          } else {
            dueDatePicker = null;
            dueDateField.hide();
          }
      });
    }


  </script>


{% endblock %}
