{% extends 'layout.html' %}
{% from 'macros/_misc.html' import render_input %}
{% block content %}
  
  {% include 'invoice/_controls.html' %}

  <div class="workspace-inner">

    <form class="create inline invoice" method="post" action="{{ url_for('.edit', id=invoice.id) }}">
      <div class="header">Edit invoice</div>  
      <div class="fields">
        {{ form.csrf_token }}
        {{ render_input(form.contact_id) }} 
        {{ render_input(form.reference, cls='reference', size=4) }} 
        {{ render_input(form.date_issued, cls='date') }} 
        {{ render_input(form.payment_term_id) }} 
        {{ render_input(form.due_date, cls='date') }}
        {{ render_input(form.currency_code) }}
        <div class="field">
          <button class="button normal" type="submit">Continue</button>
        </div>
      </div>
    </form>

  </div>

  <script type="text/javascript">
    var dueDateField = $('.field-due_date');
    var dueDatePicker = null;
    var dateFormat = 'D MMM YYYY';

    $(document).ready(function(){
      var picker1 = new Pikaday({ field: document.getElementById('date_issued'), format: dateFormat });

      setup();
    });

    function setup() {
      if ($('#payment_term_id').val() == 6) {
        dueDateField.show();
        dueDatePicker = new Pikaday({ field: document.getElementById('due_date'), format: dateFormat });
      }

      $('#payment_term_id').on('change', function(evt){
          var v = $(this).val();
          if (v == 6) {
            dueDateField.show();
            dueDatePicker = new Pikaday({ field: document.getElementById('due_date'), format: dateFormat });
          } else {
            dueDatePicker = null;
            dueDateField.hide();
          }
      });
    }


  </script>


{% endblock %}
