{% extends 'layout.html' %}
{% from 'macros/_misc.html' import render_input %}
{% block content %}
  
  {% include 'invoice/_controls.html' %}

  <ul class="breadcrumb">
    <li><a href="{{ url_for('invoice.index') }}">Invoices</a> <span class="divider">/</span></li>
    <li><a href="{{ url_for('invoice.show', id=invoice.id) }}">Invoice {{ invoice.reference }}</a> <span class="divider">/</span></li>
    <li class="active">Edit</li>
  </ul>

  <div class="workspace-inner">

    <form class="create inline invoice" method="post" action="{{ url_for('.edit', id=invoice.id) }}">
      <div class="header">Edit invoice</div>  
      <div class="fields">
        {{ form.csrf_token }}
        {{ render_input(form.contact_id) }} 
        {{ render_input(form.reference, cls='reference', size=4) }} 
        {{ render_input(form.date_issued_nice, cls='date') }} 
        {{ render_input(form.payment_term_id) }} 
        {{ render_input(form.due_date_nice, cls='date') }}
        {{ render_input(form.currency_code) }}
        <div class="field">
          <button class="button normal" type="submit">Continue</button>
           or 
          <a href="javascript:history.back(-1);">Cancel</a>
        </div>
      </div>
    </form>

  </div>

  <script type="text/javascript">
    var dueDateField = $('.field-due_date_nice');
    var dueDatePicker = null;
    var dateFormat = 'D MMM YYYY';

    $(document).ready(function(){
      var picker1 = new Pikaday({ field: document.getElementById('date_issued_nice'), format: dateFormat });

      setup();
    });

    function setup() {
      if ($('#payment_term_id').val() == 6) {
        dueDateField.show();
        dueDatePicker = new Pikaday({ field: document.getElementById('due_date_nice'), format: dateFormat });
      } else {
        dueDateField.hide();
        dueDatePicker = null;
      }

      $('#payment_term_id').on('change', function(evt){
          var v = $(this).val();
          if (v == 6) {
            dueDateField.show();
            dueDatePicker = new Pikaday({ field: document.getElementById('due_date_nice'), format: dateFormat });
          } else {
            dueDatePicker = null;
            dueDateField.hide();
          }
      });
    }


  </script>


{% endblock %}
