{% extends 'layout.html' %}
{% block content %}
  
  {% include 'invoice/_filter.html' %}

  {% if invoices|length == 0 %}
    
  <p class="first-create">You haven't created any invoices yet. <a href="{{ url_for('.create') }}">Get started</a></p>
    
  {% else %}
  
  <div class="data-list-wrapper invoice-data-list"> 
    <div class="data-list-header">
      <div class="col due">Due date</div>
      <div class="col ref">Reference No.</div>
      <div class="col name">Client</div>
      <div class="col total">Total</div>
      <div class="col status">Status</div>
    </div>
    <div class="data-list">
      {% for invoice in invoices %}
        <div class="row" data-id="{{ invoice.id }}">
          <div class="col due">{{ invoice.due_date.strftime('%d %B %Y') }}</div>
          <div class="col ref">{{ invoice.reference }}</div>
          <div class="col name">{{ invoice.contact.first_name }} {{ invoice.contact.last_name }}</div>
          <div class="col total"><span class='currency-code'>{{ invoice.currency_code }}</span> {{ invoice.total|format_currency }}</div>
          <div class="col status"><span class='label label-{{ invoice.get_status() }}'>{{ invoice.get_status() }}</span></div>
        </div>
      {% endfor %}
    </div>
  </div>

  {% endif %}
  

  <script type="text/javascript">
    $(document).ready(function() {
      $('div.row').on('click', function(evt) {
        console.log('hello');
        var el = $(this);
        window.location = '/invoice/' + el.data('id');
      });
    });
  </script>

{% endblock %}
