<!doctype html>
<html>
  <head>
    {% block head %}
    <meta charset="utf-8" />
    <title>{{ page_title }}</title>
    <link rel="stylesheet" type="text/css" href="/static/css/nano/stylesheets/screen.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/vendor/select2/select2.css" />
    <link rel="stylesheet" type="text/css" href="/static/js/vendor/Pikaday/css/pikaday.css" />
    {% assets 'js_lib' %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% assets 'js_app' %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    <script type="text/javascript" src="{{ url_for('app_js.constants') }}"></script>
    {% assets 'js_templates' %}
      <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}
    {% endblock %}
  </head>
  <body>
    <div class="container">
      {% include '_flash.html' %}
      
      <div class="header">
        <img src="/static/img/logo.png">
        
        {% if current_user.is_authenticated() %}
        <div class="account">
          <ul>
            <li><a href="{{ url_for('account.index') }}">Your account</a></li>
            <li><a href="{{ url_for('account.logout') }}">Log out</a></li>
          </ul>
        </div>
        {% else%}
        <div class="account">
          <ul>
            <li><a href="{{ url_for('account.login') }}">Login</a></li>
          </ul>
        </div>
        {% endif %}
      </div>
   
      <div class="application">
        <div class="top">
        </div>
        <div class="content">
          <div class="sidebar">
            <h3>Menu</h3>
            <ul class="menu">
              <li><a href="{{ url_for('home.dashboard') }}"><img src="/static/img/dashboard.png" /> Dashboard</a></li>
              <li><a href="{{ url_for('invoice.index') }}"><img src="/static/img/invoices.png" /> Invoices</a></li>
              <li><a href="{{ url_for('payment.index') }}"><img src="/static/img/payments.png" /> Payments</a></li>
              <li><a href="{{ url_for('client.index') }}"><img src="/static/img/customers.png" /> Clients</a></li>
            </ul>
            <div id="padding"></div>
          </div>
          <div class="workspace">
            {% block content %}{% endblock %}
          </div>
        </div>
        <div class="bottom">
        </div>
      </div>
      
      <div class="footer">
      
      </div>
    </div>
    <script type="text/javascript">
      $(document).ready(function() { 
          $("select").select2();
          layoutFix();
      });
    </script>
  </body>
</html>
