{% from "macros/_misc.html" import render_input, render_action %}
{% extends 'layout.html' %}

{% block content %}
  {% include 'account/_filter.html' %}
  <h1>Subscription</h1>
  <div class="workspace-inner">

    <p>Are you sure you want to cancel your subscription, you will automatically be downgraded to the free plan</p>

    <form method="post" action="{{ url_for('subscription.cancel') }}">
      <button class="btn" type="submit">Yes, cancel my subscription</button>
    </form>

  </div>

{% endblock %}

