{% from "macros/_misc.html" import render_input, render_action %}
{% extends 'layout.html' %}

{% block content %}
  {% include 'account/_filter.html' %}
    
  <h1>Subscription</h1>
  

  <div class="workspace-inner">

    <p>You are currently subscribed to the {{ plan.name }} plan</p>

    {% if plan.name == 'Free' %}
      <a href="{{ url_for('subscription.create', plan_id=2, upgrade=1) }}">Update to Pro account</a>
    {% endif %}

    {% if plan.billing_interval %}
      <h3>Billing</h3>
      <table class="table ">
        <thead>
          <th>Date</th>
          <th>Description</td>
          <th>Amount</th>
          <th>Success</th>
        </thead>
        {% for transaction in transactions %}
          <tr>
            <td>{{ transaction.created_at.strftime('%d %B %Y') }}</td>
            <td>Payment for {{ transaction.subscription.plan.description }}</td>
            <td>{{ transaction.amount }}</td>
            <td>{% print 'Payment received' if transaction.success else 'No' %}</td>
          </tr>
        {% endfor %}
      </table>
    {% endif %}


  </div>

{% endblock %}
